/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

.alert-widget-red-bg {
    background-color: #FB8C8C;
    color: #ffffff;
}

.alert-widget-green-bg {
    background-color: #A2E075;
    color: #ffffff;
}

.alert-widget-yellow-bg {
    background-color: #F5DF6F;
    color: #ffffff;
}

.push-down-40px{
  margin-top: 40px;
}

.push-right-40px{
  margin-left: 40px;
}

.push-right-50px{
  margin-left: 50px;
}

.table-subheader h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-left: 15px;
  margin-bottom: 3px;
}

.header-info-box {
  background-color: #ffffff;
  border: 1px solid @border-color;
  padding: 20px;
  margin-bottom: 20px;
  height: 100%;
}

@media (min-width: 768px) {
    .dl-horizontal dt {
        width: 190px;
    }
    .dl-horizontal dd {
        margin-left: 210px;
        margin-top: 4px;
        margin-bottom: 4px;
    }
}

@media (min-width: 768px) {
    .dl-horizontal-narrow dt {
        float: left;
        width: 175px;
        overflow: hidden;
        clear: left;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .dl-horizontal-narrow dd {
        margin-left: 185px;
    }
}

.panel-list {
  list-style: none;
  margin: 0;
}
.panel-list li {
  background: #FAFAFB;
  border: 1px solid #e7eaec;
  margin: 0 0 10px 0;
  padding: 10px;
  border-radius: 2px;
}
.panel-list li:hover {
  background: #fff;
}
.panel-list li.warning-element {
  border-left: 3px solid @yellow;
}
.panel-list li.danger-element {
  border-left: 3px solid @red;
}
.panel-list li.info-element {
  border-left: 3px solid @navy;
}
.panel-list li.success-element {
  border-left: 3px solid @blue;
}
.panel-list-detail {
  margin-top: 5px;
  font-size: 12px;
}

.text-truncate-200px {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table > thead > tr > th, .table-bordered > thead > tr > td {
  background-color: #F5F5F6;
}

.list-box {
    margin-top: 10px;
    margin-bottom: 10px;
}

.list-box li {
  list-style-type: none;
  margin-top: 10px;
}

.list-box h1, h2, h3, h4, h5, h6 {
  margin-left: 0px;
}

.top-main-header-box {
  height: 178px;     
}

.tissue-variant-report-header-box{
  height: 257px;     
}

.blood-variant-report-header-box{
  height: 237px
}
 
.assignment-header-box{
  height: 132px;          
}
 
.biopsy-header-box {
  height: 173px;
}

.ibox-tools-with-h3-title {
  margin-top: -24px;
}

.small-button-block {
  margin-top: 4px;
}

.file-button-xs {
  width: 72px; 
}

.file-button-xs-3x {
  width: 223px; 
}

.btn-group-margin {
  margin-right: 4px;
}

.button-row {
  margin-bottom: 18px;
}

// Fixes white line next to the active tab
.top-navigation .nav>li.active {
    background: none;
    border: none;
}

.header-box-container {
    border-top: 0;
    padding: 34px 0px 16px 0px;
}

.push-down {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
    .dl-horizontal-expanded-label dt {
        width: 240px;
    }
    .dl-horizontal-expanded-label dd {
        margin-left: 260px;
    }
}

// Override angular-dropdowns styles
.wrap-dd-select {
  display: inline-block;
    border-radius: 2px;
    border: 1px solid @border-color;
    color: inherit;
    margin-left: 0px;
    width: 100%;
}

.wrap-dd-select > span {
  padding-right: 28px;
}

.wrap-dd-select .dropdown li a {
    color: inherit;
    border-bottom: none;
    cursor: pointer;
}

.wrap-dd-select:after {
    border-color: @navy transparent;
}

.ibox-title > h2 > .drop-down-label {
  margin-left: -14px;
  margin-right: 5px;
}

.ibox-title {
  margin-top: 10px;
}

.ibox-title-no-line {
  border-style: none;
}

.ibox-title-no-line-no-padding {
  border-style: none;
  padding-top: 14px;
  padding-right: 1px;
  padding-bottom: 7px;
  padding-left: 1px;
}

.stacked-container {
  position: relative;
}

.stacked-front {
  position: absolute;
  z-index: 3;
}

.stacked-front button {
    color: transparent;
    background: transparent;
    border: 2px solid transparent;
    height: 17px;
    margin-left: -3px;
    margin-top: 0px;
    padding-top: 13px;
    padding-left: 8px;
    padding-right: 6px;
}

.stacked-back {
  position: absolute;
  z-index: 2;
}

.stacked-back input {
    outline: none;
}

// Removing unnecessary bootstrap lines 
.modal-header {
   border-bottom: none;
}

.modal-footer {
   border-top: none;
}

.biopsy-sample-box {
    height: 240px;            
}

.ibox-tools-left-side {
    margin-top: 3px;
    margin-right: 10px;
    float: left;
}

.ibox-content-no-padding {
  padding: 0px;
}

.timeline-item .date {
  padding-top: 0px;
  padding-right: 50px;
  width: 250px;
}

.timeline-item .date i {
  width: 40px;
}

.timeline-item .date small {
  margin-right: 4px;
}

.timeline-item .content {
  padding-top: 0px;
  min-height: 80px;
}

span.timeline-value {
  font-weight: bolder;
}

// Fixes bootstrap panel icon being too close to the title text
div.panel-heading > i.fa {
  margin-right: 12px;  
}

.missing-requirement-or-design {
  font-weight: bold;
  color: red; 
}

.btn-outline-default.disabled, .btn-outline-default.disabled:hover, .btn-outline-default.disabled:focus, .btn-outline-default.disabled:active, .btn-outline-default.disabled.active, .btn-outline-default[disabled], .btn-outline-default[disabled]:hover, .btn-outline-default[disabled]:focus, .btn-outline-default[disabled]:active, .btn-outline-default.active[disabled], fieldset[disabled] .btn-outline-default, fieldset[disabled] .btn-outline-default:hover, fieldset[disabled] .btn-outline-default:focus, fieldset[disabled] .btn-outline-default:active, fieldset[disabled] .btn-outline-default.active {
    border-color: #ccc;
    background: #fff;
}

.content-select-list {
  padding-bottom: 16px;
}

.toolbar-row {
  padding-bottom: 15px
}

ul.no-bullets {
 list-style: none
}

.ta-title .ta-name {
  font-weight: bold; 
}

.ta-title .ta-stratum {
  font-style: italic;
  color: #676a6c
}

.ta-title .ta-version {
  color: #1ab394; 
}

.no-data-panel{
  padding: 20px;
}

.no-data-panel span{
  padding-left: 5px;
  font-size: larger;
}

.top-toolbar-buttons {
  margin-top: 30px;
  margin-right: 11px;
}

span.timeline-step {
  font-weight: bold;
  color: #1ab394;
}

div.timeline-item {
  margin-bottom: 20px; 
}

.timeline-item .content {
    padding-top: 0px;
    min-height: 60px;
    border-top: 1px solid #4ab7a1;
}

.timeline-item .date-top-border {
    border-top: 1px solid #4ab7a1;  
}

.activity-feed-icon {
  color: #676a6c;
}

.btn-group&.dropdown .btn .caret{
  margin-left: 8px
}

.navbar {
  min-height: 75px;

  .navbar-brand {
    // border-right: 1px solid @border-color;
    height: 75px;

    span.logo {
      background: url('/img/nci-logo-full.svg');
      background-repeat: no-repeat;
      color: #606060;
      display: block;
      width: 163px;
      height: 19px;
      margin-left: 50px;
    }

    span.title {
      color: @navy;
      font-size: 1.25em;
      display: block;
      padding-top: 5px;
      padding-left: 48px;
      padding-right: 33px;

      // .abbreviation {
      //   font-weight: lighter;
      // }
      .name {
        font-weight: bolder;
      }
    }
  }

  ul.nav {
    padding-top: 27px;
  }
}

.top-navigation { 
  .navbar-brand {
    background: #1ab394;
    padding: 15px 0px;
    background: inherit;
  }
  .navbar-right {
    margin-right: 31px;
  }
}

.page-heading {
  padding-left: 19px;
}

.wrapper-dashboard {
  margin-top: 24px;
}

.timeline-event {
  border-bottom: dotted 1px @border-color;

  .event-icon {
    margin-top: 6px;
    margin-left: 10px;
  }

  .event-title {
    padding-left: 10px;

    .m-b-xs, .event-date-age {
      font-size: smaller;
    }
  }

  .event-content {
    padding: 10px;
  }

  dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;

    dt {
      float: left;
      width: 50%;
      padding: 0;
      margin: 0;
    }

    dd {
      float: left;
      width: 50%;
      padding: 0;
      margin: 0;
    }
  }  
}

.action-items {
  li:hover {
    cursor: auto;
  }

  .label {
    font-size: 1em;
    padding: 2px;;
  }

  p {
    padding-top: 2px;
    padding-left: 8px;
  }
}

.agile-list li.warning-element {
  border-left: 3px solid @yellow;
}
.agile-list li.danger-element {
  border-left: 3px solid @red;
}
.agile-list li.info-element {
  border-left: 3px solid @navy;
}
.agile-list li.success-element {
  border-left: 3px solid @blue;
}

.label-info, .badge-info {
  background-color: @navy;
}

.ta-header-box {
  height: 176px;
}

td.text-center {
  text-align: center;
}

.panel {
  .panel-body {
    p {
      font-size: larger;
    }
  }
}

// Overrding dropzone style
.dropzone {
  .dz-default.dz-message {
      opacity: 1;
      -ms-filter: none;
      filter: none;
      -webkit-transition: opacity 0.3s ease-in-out;
      -moz-transition: opacity 0.3s ease-in-out;
      -o-transition: opacity 0.3s ease-in-out;
      -ms-transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out;
      background-image: none;
      background-repeat: no-repeat;
      background-position: 0 0;
      position: absolute;
      width: 428px;
      height: 123px;
      margin-left: -214px;
      margin-top: -61.5px;
      top: 50%;
      left: 50%;
  }
}

.upload-sample-file-button {
  width: 234px;
  margin: 10px;
}

.panel-container {
  background-color: @ibox-content-bg; 
}

.ibox-content-no-border {
  border-style: none;
}

.timeline-item {
  .timeline-title {
    font-size: 1.20em;
    margin-bottom: 1px;
  }

  .content {
    font-size: 0.85em;
  }
}

h2.welcome {
  margin-left: 15px;
  margin-bottom: 22px;
}

.list-group.clear-list.statistics {
  .list-group-item {
    border-style: none;    
    padding-bottom: 2px;  
  }
  width: 264px;
}

.statistic-box.dashboard {
  margin-top: 18px; 
}

.dashboard.donut-chart-legend {
  margin-top: 10px;
  font-size: smaller;
  text-align: center;
  padding: 0;
}

.statistics-row {
  h3 {
    line-height: 1.2em;
  }
}

span.chart-legend-digit {
    width: 13px;
    display: inline-block;
}

.no-tab-pane-border {
  .panel-body {
    border-style: none
  }
}

.outer-container {
  margin-top: 38px;
  margin-left: 2px;
  margin-right: 2px;
}


// Override Inspinia btn-default
.btn-default {
  background-color: #fff;
  border-color: @dark-gray;
  color: @text-color;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background-color: darken(#fff, 3%);
  border-color: darken(@dark-gray, 3%);
  color: @text-color;
}

.btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled]:active, .btn-default.active[disabled], fieldset[disabled] .btn-default, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: lighten(@dark-gray, 4%);
  color: darken(#fff, 40%);
}

button.btn-default.dim {
  box-shadow: inset 0px 0px 0px darken(@dark-gray,6%), 0px 5px 0px 0px darken(@dark-gray,6%), 0px 10px 5px #999;
}

button.btn-default.dim:active {
  box-shadow: inset 0px 0px 0px darken(@dark-gray,6%), 0px 2px 0px 0px darken(@dark-gray,6%), 0px 5px 3px #999;
}

.push-down-inner-panel {
  margin-bottom: 35px;
}

.push-up-inner-panel {
  margin-top: 35px;
}

.ta-amoi-status {
  min-width: 75px;

  sup {
    font-weight: bold;
  }
}

.data-grid {
  border: none;

  .table {
    tr {
      td {
        font-size: 0.95em;
      }

      td.content-cell {
        padding-left: 25px;
      }
    }
  }

  .activity-header-panel {
    height: 62px;
  }

  .margin-bottom-basic {
      margin-bottom: 15px;
  }

  .pagination {
      margin: 0;
  }

  .items-per-page {
      margin-bottom: 10px;
      margin-left: 15px;

      label {
        font-weight: normal;
      }
  }

  .sortable:after {
      font: 14px/1 FontAwesome;
      font-size: 0.8em;
      content: "\f0dc";
      padding-left: 4px;
      color: darken(@light-gray, 20%);
  }

  .sortable.sort-ascent:after {
      content: '\f0de';
      vertical-align: bottom;
  }

  .sortable.sort-descent:after {
      content: "\f0dd";
      vertical-align: top;
  }

  .grid-filter {
    margin-right: 15px;
  }

  .sortable {
    cursor: pointer;
  }
}

.grid-container {
  padding-bottom: 45px;
}

.loading-indicator {
  color: @navy;
}