<div class="row">
    <div class="col-xs-5 col-md-4 date" title="Biopsy Pathology Event">
        <i class="fa fa-flask fa-2x"></i> {{::timelineEvent.dateTime}}
        <br/>
        <small class="text-navy">{{::timelineEvent.fromNow}}</small>
    </div>
    <div class="col-xs-7 col-md-8 content no-top-border">
        <p class="m-b-xs"><strong>Biopsy Pathology Status: <span ng-style="{'color':'{{ timelineEvent.status | analysisStatus }}'}">{{::timelineEvent.status}}</span></strong></p>
        <p>{{::timelineEvent.comment}}</p>
    </div>
</div>