<div class="row timeline-event">
    <div class="row">
        <div class="col-md-2">
            <i class="fa fa-medkit fa-2x event-icon" title="Assignment Event"></i>
        </div>
        <div class="col-md-10 event-title">
            <small>{{::timelineEvent.event_date | utc}}</small>
            <small class="text-navy event-age">{{::timelineEvent.from_now}}</small>
            <p class="m-b-xs"><span class="timeline-step">Step: {{::timelineEvent.step}}.</span> <strong>{{::timelineEvent.event_message}}.</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="m-b-xs event-content">
                <span ng-if="timelineEvent.event_data.treatment_arm_id">
                    Treatment Arm: <span class="timeline-value"><treatment-arm-title name="timelineEvent.event_data.treatment_arm_id" version="timelineEvent.event_data.treatment_arm_version" stratum="timelineEvent.event_data.stratum_id"></span>
                <br>
                </span>

                <span ng-if="timelineEvent.event_data.status">
                    Assignment Status: <span class="timeline-value" ng-style="{'color':'{{ timelineEvent.event_data.status | status }}'}">{{::timelineEvent.event_data.status}}</span>
                <br>
                </span>

                <span ng-if="timelineEvent.event_data.assignment_date && (timelineEvent.event_data.assignment_date | utc) !== '-'">
                    Assignment Date: <span class="timeline-value">{{::timelineEvent.event_data.assignment_date | utc}}</span>
                <br>
                </span>
            </p>

        </div>
    </div>
</div>