<div class="row">
    <div class="col-xs-5 col-md-4 date" title="Biopsy Assay Event">
        <i class="fa fa-flask fa-2x"></i> {{::timelineEvent.dateTime}}
        <br/>
        <small class="text-navy">{{::timelineEvent.fromNow}}</small>
    </div>
    <div class="col-xs-7 col-md-8 content no-top-border">
        <p class="m-b-xs"><strong>Event: {{::timelineEvent.event_message}} for {{::timelineEvent.event_data.biomarker}}</strong></p>
        <body>
            <p>Status: <span class="timeline-value">{{::timelineEvent.event_data.status}}</span>,
                 Order Date: <span class="timeline-value">{{::timelineEvent.event_data.ordered_date | utc}}</span></p>
        </body>
    </div>
</div>