<div class="row timeline-event">
    <div class="row">
        <div class="col-md-2">
            <i class="fa fa-user-md fa-2x event-icon" title="User Event"></i>
        </div>
        <div class="col-md-10 event-title">
            <span class="event-date-age">
                {{::timelineEvent.event_date | utc}},
                <span class="event-age">{{::timelineEvent.from_now}}</span>
            </span>
            <p class="m-b-xs"><span class="timeline-step">Step: {{::timelineEvent.step}}.</span> <strong>{{::timelineEvent.event_message}}.</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="m-b-xs event-content">
                <span ng-if="timelineEvent.patient_id">
                    Patient: <span class="timeline-value"><patient-title id="timelineEvent.patient_id"></span>
                    <br>
                </span>
                                
                <p class="m-b-xs"><strong>{{::timelineEvent.user}}: {{::timelineEvent.details}}</strong></p>
                <p class="m-b-xs">Download <a href="{{::timelineEvent.fileUrl}}" target="_blank">file</a></p>
            </p>
        </div>
    </div>
</div>
