<div class="row">
    <div class="col-xs-5 col-md-4 date" title="Biopsy Variant Report Received" ng-class="{'date-top-border':timelineEvent.isStepChanging}">
        <i class="fa fa-bar-chart fa-2x"></i> <small>{{::timelineEvent.event_date | utc}}</small>
        <br/>
        <small class="text-navy">{{::timelineEvent.from_now}}</small>
    </div>
    <div class="col-xs-7 col-md-8 content" ng-class="{'no-top-border':!timelineEvent.isStepChanging}">
        <p class="m-b-xs"><span class="timeline-step">Step: {{::timelineEvent.step}}.</span><strong>{{::timelineEvent.event_message}}.</strong></p>
        <p class="m-b-xs">
            <span ng-if="timelineEvent.event_data.status">
                Variant Report Status: <span ng-style="{'color':'{{ timelineEvent.status | analysisStatus }}'}">{{::timelineEvent.event_data.status}}</span>
                <br>
            </span>

            <span ng-if="timelineEvent.event_data.comment_user">
                By: <span class="timeline-value">{{::timelineEvent.event_data.comment_user }}</span>
                <br>
            </span>

            <span ng-if="timelineEvent.event_data.slide_barcode">
                Slide Bar-code: <span class="timeline-value">{{::timelineEvent.event_data.slide_barcode}}</span>
                <br>
            </span>

            <!--<span ng-if="timelineEvent.event_data.surgical_event_id">
                Surgical Event ID: <span class="timeline-value">{{::timelineEvent.event_data.surgical_event_id}}</span>
                <br>
            </span>-->

            <span ng-if="timelineEvent.event_data.surgical_event_id">
                Surgical Event ID: <span class="timeline-value"><patient-title patient-id="timelineEvent.patient_id"
                                                                               text="'surgical_event'"
                                                                               surgical-event-id="timelineEvent.event_data.surgical_event_id"
                                                                               molecular-id="timelineEvent.event_data.molecular_id"
                                                                               analysis-id="timelineEvent.event_data.analysis_id"></patient-title></span>
                <br>
            </span>

            <!--<span ng-if="timelineEvent.event_data.analysis_id">
                Analysis ID: <span class="timeline-value">{{::timelineEvent.event_data.analysis_id}}</span>
                <br>
            </span>-->

            <span ng-if="timelineEvent.event_data.analysis_id">
                Analysis ID: <span class="timeline-value"><patient-title patient-id="timelineEvent.patient_id"
                                                                         text="'tissue_variant_report'"
                                                                         molecular-id="timelineEvent.event_data.molecular_id"
                                                                         analysis-id="timelineEvent.event_data.analysis_id"></patient-title></span>
                <br>
            </span>

            <span ng-if="timelineEvent.event_data.collected_datetime && (timelineEvent.event_data.collected_datetime | utc) !== '-'">
                Collected Date: <span
                    class="timeline-value">{{::timelineEvent.event_data.collected_datetime | utc}}</span>
                <br>
            </span>

            <span ng-if="timelineEvent.event_data.comment_user">
                By: <span>{{::timelineEvent.event_data.comment_user}}</span>
                <br>
            </span>

            <span ng-if="timelineEvent.event_data.tracking_id">
                Tracking Number: <span class="timeline-value"><tracking-link carrier="'fedex'"
                                                                             tracking-number="timelineEvent.event_data.tracking_id"></tracking-link></span>
                <br>
            </span>

            <span ng-if="timelineEvent.event_data.location">
                Location: <span class="timeline-value">{{::timelineEvent.event_data.location }}</span>
                <br>
            </span>
        </p>
    </div>
</div>