<div class="row">
    
    <div class="col-xs-5 col-md-4 date" title="Assignment Event" ng-class="{'date-top-border':timelineEvent.isStepChanging}">
        <i class="fa fa-medkit fa-2x"></i> <small>{{::timelineEvent.event_date | utc}}</small>
        <br/>
        <small class="text-navy">{{::timelineEvent.from_now}}</small>
    </div>

    <div class="col-xs-7 col-md-8 content" ng-class="{'no-top-border':!timelineEvent.isStepChanging}">
        <p class="m-b-xs"><span ng-if="timelineEvent.step" class="timeline-step">Step: {{::timelineEvent.step}}.</span> <strong>{{::timelineEvent.event_message}}.</strong></p>
        <p class="m-b-xs">
            <span ng-if="timelineEvent.treatment_arm">
                <treatment-arm-title name="timelineEvent.treatment_arm.name" stratum="timelineEvent.treatment_arm.stratum" version="timelineEvent.treatment_arm.version"></treatment-arm-title>
                <br>
            </span>

            <!--<span ng-repeat="pair in timelineEvent.event_data">
                {{::pair.prop}}: <span class="timeline-value">{{::pair.value}}</span>-->
                <br>
            </span>
        </p>
    </div>
</div>