<div class="row timeline-event">
    <div class="row">
        <div class="col-md-2">
            <i class="fa fa-cogs fa-2x event-icon" title="System Event"></i>
        </div>
        <div class="col-md-10 event-title">
            <span class="event-date-age">
                {{::timelineEvent.event_date | utc}},
                <span class="event-age">{{::timelineEvent.from_now}}</span>
            </span>
            <p class="m-b-xs"><span class="timeline-step">Step: {{::timelineEvent.step}}.</span> <strong>{{::timelineEvent.event_message}}.</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="m-b-xs event-content">
                <span ng-if="timelineEvent.patient_id">
                    Patient: <span class="timeline-value">{{::timelineEvent.patient_id }}</span>
                    <br>
                </span>
                                
                <span ng-if="timelineEvent.event_data.event_message" class="timeline-value">{{::timelineEvent.event_data.event_message}}<br></span>
                <span ng-if="timelineEvent.event_data.status" class="timeline-value">{{::timelineEvent.event_data.status}}</span>
            </p>
        </div>
    </div>
</div>
