<div class="row timeline-event">
    <div class="row">
        <div class="col-md-2">
            <i class="fa fa-bar-chart fa-2x event-icon" title="Biopsy Variant Report Received"></i>
        </div>
        <div class="col-md-10 event-title">
            <span class="event-date-age">
                {{::timelineEvent.event_date | utc}},
                <span class="event-age">{{::timelineEvent.from_now}}</span>
            </span>
            <p class="m-b-xs"><span class="timeline-step">Step: {{::timelineEvent.step}}.</span> <strong>{{::timelineEvent.event_message}}.</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="m-b-xs event-content">
                <span ng-if="timelineEvent.patient_id">
                    Patient: <span class="timeline-value"><patient-title id="timelineEvent.patient_id"></span>
                    <br>
                </span>
                
                <span ng-if="timelineEvent.event_data.status">
                    Variant Report Status: <span ng-style="{'color':'{{ timelineEvent.status | analysisStatus }}'}">{{::timelineEvent.event_data.status}}</span>
                    <br>
                </span>

                <span ng-if="timelineEvent.event_data.comment_user">
                    By: <span class="timeline-value">{{::timelineEvent.event_data.comment_user }}</span>
                    <br>
                </span>

                <span ng-if="timelineEvent.event_data.tracking_id">
                    Tracking Number: <span class="timeline-value"><tracking-link carrier="'fedex'" tracking-number="timelineEvent.event_data.tracking_id"></tracking-link></span>
                    <br>
                </span>

                <span ng-if="timelineEvent.event_data.slide_barcode">
                    Slide Bar-code: <span class="timeline-value">{{::timelineEvent.event_data.slide_barcode}}</span>
                    <br>
                </span>

                <span ng-if="timelineEvent.event_data.surgical_event_id">
                    Surgical Event ID: <span class="timeline-value">{{::timelineEvent.event_data.surgical_event_id}}</span>
                    <br>
                </span>
                            
                <span ng-if="timelineEvent.event_data.collected_datetime && (timelineEvent.event_data.collected_datetime | utc) !== '-'">
                    Collected Date: <span class="timeline-value">{{::timelineEvent.event_data.collected_datetime | utc}}</span>
                    <br>
                </span>
                
                <span ng-if="timelineEvent.event_data.received_datetime && (timelineEvent.event_data.received_datetime | utc) !== '-'">
                    Received Date: <span class="timeline-value">{{::timelineEvent.event_data.received_datetime | utc}}</span>
                    <br>
                </span>
            </p>
        </div>
    </div>
</div>
