<div class="row">
    <div class="col-xs-5 col-md-4 date" title="User Event" ng-class="{'date-top-border':timelineEvent.isStepChanging}">
        <i class="fa fa-user-md fa-2x"></i> <small>{{::timelineEvent.event_date | utc}}</small>
        <br/>
        <small class="text-navy">{{::timelineEvent.from_now}}</small>
    </div>
    <div class="col-xs-7 col-md-8 content" ng-class="{'no-top-border':!timelineEvent.isStepChanging}">
        <p class="m-b-xs timeline-title"><strong>{{::timelineEvent.user}}: {{::timelineEvent.details}}</strong></p>
        <p class="m-b-xs">Download <a href="{{::timelineEvent.fileUrl}}" target="_blank">file</a></p>
    </div>
</div>