<div class="row">
    <div class="col-xs-5 col-md-4 date" title="Biopsy Variant Report Event">
        <i class="fa fa-bar-chart fa-2x"></i> <small>{{::timelineEvent.event_date | utc}}</small>
        <br/>
        <small class="text-navy">{{::timelineEvent.from_now}}</small>
    </div>
    <div class="col-xs-7 col-md-8 content no-top-border">
        <p class="m-b-xs"><strong>Variant Report Status: <span ng-style="{'color':'{{ timelineEvent.status | analysisStatus }}'}">{{::timelineEvent.status}}</span></strong></p>
        <p>MSN <span class="timeline-value"><a>{{::timelineEvent.molecularSequenceNumber}}</a></span>, Analys ID <span class="timeline-value"><a>{{::timelineEvent.analysisId}}</a></span>, Location <span class="timeline-value">{{::timelineEvent.location}}</span>, Total MOI <span class="timeline-value">{{::timelineEvent.totalMoiCount}}</span>, Total aMOI <span class="timeline-value">{{::timelineEvent.totalAmoiCount}}</span></p>
    </div>
</div>