<div class="row">
    <div class="col-xs-5 col-md-4 date" title="Biopsy Assay Ordered" ng-class="{'date-top-border':timelineEvent.isStepChanging}">
        <i class="fa fa-flask fa-2x"></i> <small>{{::timelineEvent.event_date | utc}}</small>
        <br/>
        <small class="text-navy">{{::timelineEvent.from_now}}</small>
    </div>
    <div class="col-xs-7 col-md-8 content" ng-class="{'no-top-border':!timelineEvent.isStepChanging}">
        <p class="m-b-xs timeline-title"><span class="timeline-step">Step: {{::timelineEvent.step}}.</span> <strong>{{::timelineEvent.event_message}} for {{::timelineEvent.event_data.biomarker}}.</strong></p>
        <p class="m-b-xs">
            <span ng-if="timelineEvent.event_data.status">
                Assay Status: <span class="timeline-value" ng-style="{'color':'{{ timelineEvent.event_data.status | assayStatus }}'}">{{::timelineEvent.event_data.status}}</span>
                <br>
            </span>

            <!--<span ng-if="timelineEvent.event_data.ordered_date">
                Order Date: <span class="timeline-value">{{::timelineEvent.event_data.ordered_date | utc}}</span>
                <br>
            </span>-->
        </p>
    </div>
</div>