<div class="row timeline-event">
    <div class="row">
        <div class="col-md-2">
            <i class="fa fa-medkit fa-2x event-icon" title="Assignment Event"></i>
        </div>
        <div class="col-md-10 event-title">
            <span class="event-date-age">
                {{::timelineEvent.event_date | utc}},
                <span class="event-age">{{::timelineEvent.from_now}}</span>
            </span>
            <p class="m-b-xs"><span class="timeline-step">Step: {{::timelineEvent.step}}.</span> <strong>{{::timelineEvent.event_message}}.</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="m-b-xs event-content">
                <span ng-if="timelineEvent.patient_id">
                    Patient: <span class="timeline-value"><patient-title patient-id="timelineEvent.patient_id" text="'patient_assignment'"></patient-title></span><!-- {{::timelineEvent.patient_id}} -->
                <br>
                </span>

                <span ng-if="timelineEvent.event_data.treatment_arm_id">
                    Treatment Arm: <span class="timeline-value"><treatment-arm-title name="timelineEvent.event_data.treatment_arm_id" version="timelineEvent.event_data.treatment_arm_version" stratum="timelineEvent.event_data.stratum_id"></treatment-arm-title></span>
                <br>
                </span>

                <span ng-if="timelineEvent.patient_id && timelineEvent.event_data.molecular_id && timelineEvent.event_data.analysis_id">
                    <span class="timeline-value">
                        <a ui-sref="patient({ patient_id: timelineEvent.patient_id, section: 'assignment_report', molecular_id: timelineEvent.event_data.molecular_id, analysis_id: timelineEvent.event_data.analysis_id })">
                            Assignment: <span class="timeline-value" ng-style="{'color':'{{ timelineEvent.event_data.status | status }}'}">{{::timelineEvent.event_data.status}}</span>
                        </a>
                    </span>
                    <br>
                </span>

                <span ng-if="timelineEvent.event_data.comment_user">
                    By: <span class="timeline-value" >{{::timelineEvent.event_data.comment_user}}</span>
                </span>
            </p>
        </div>
    </div>
</div>