<div class="row">
    <div class="col-xs-5 col-md-4 date" ng-class="{'date-top-border': (showStepDelimiter && timelineEvent.isStepChanging)}">
        <i class="fa fa-flask fa-2x"></i> <small>{{::timelineEvent.event_date | utc}}</small>
        <br/>
        <small class="text-navy">{{::timelineEvent.from_now}}</small>
    </div>
    <div class="col-xs-7 col-md-8 content" ng-class="{'no-top-border': !(showStepDelimiter && timelineEvent.isStepChanging)}">
        <p class="m-b-xs timeline-title"><span class="timeline-step">Step: {{::timelineEvent.event_data.step}}. </span> <strong>{{::timelineEvent.event_message}}</strong></p>
        <p class="m-b-xs">
            <span ng-if="timelineEvent.entity_id && showEntityId">
                Patient: <span class="timeline-value"><patient-title patient-id="timelineEvent.entity_id" text="timelineEvent.entity_id"></patient-title></span>
                <span ng-if="timelineEvent.event_data.patient_status">
                    <span class="timeline-value" style="color: {{::timelineEvent.event_data.patient_status | patientStatus}}">{{::timelineEvent.event_data.patient_status}}</span>
                </span>
            <br>
            </span>
            <span ng-if="timelineEvent.entity_id && !showEntityId && timelineEvent.event_data.patient_status">
                Patient Status: <span class="timeline-value" style="color: {{::timelineEvent.event_data.patient_status | patientStatus}}">{{::timelineEvent.event_data.patient_status}}</span>
                <br>
            <br>
            </span>

            <span ng-if="timelineEvent.event_data.surgical_event_id">
                Surgical Event ID: <span class="timeline-value"><patient-title patient-id="timelineEvent.entity_id" section="'surgical_event'" text="timelineEvent.event_data.surgical_event_id" molecular-id="timelineEvent.event_data.molecular_id" surgical-event-id="timelineEvent.event_data.surgical_event_id" analysis-id="timelineEvent.event_data.analysis_id"></patient-title></span>
            <br>
            </span>

            <span ng-if="timelineEvent.event_data.biomarker">
                Biomarker: <span class="timeline-value">{{::timelineEvent.event_data.biomarker}}</span>
            <br>
            </span>

            <span ng-if="timelineEvent.event_data.assay_result">
                Results: <span class="timeline-value" style="color: {{::timelineEvent.event_data.assay_result | assayStatus}}">{{::timelineEvent.event_data.assay_result }}</span>
            <br>
            </span>
        </p>
    </div>
</div>