<div class="row timeline-event">
    <div class="row">
        <div class="col-md-2">
            <i class="fa fa-medkit fa-2x event-icon" title="Assignment Event"></i>
        </div>
        <div class="col-md-10 event-title">
            <span class="event-date-age">
                {{::timelineEvent.event_date | utc}},
                <span class="event-age">{{::timelineEvent.from_now}}</span>
            </span>
            <p class="m-b-xs"><span class="timeline-step">Step: {{::timelineEvent.event_data.step}}. </span> <strong>{{::timelineEvent.event_message}}</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="m-b-xs event-content">
                <span ng-if="timelineEvent.entity_id && showEntityId">
                    Patient: <span class="timeline-value"><patient-title patient-id="timelineEvent.entity_id" text="timelineEvent.entity_id"></patient-title></span>
                    <span ng-if="timelineEvent.event_data.patient_status">
                        <span class="timeline-value" style="color: {{::timelineEvent.event_data.patient_status | patientStatus}}">{{::timelineEvent.event_data.patient_status}}</span>
                    </span>
                <br>
                </span>

                <span ng-if="timelineEvent.event_data.treatment_arm">
                    Treatment Arm: <span class="timeline-value"><treatment-arm-title name="timelineEvent.event_data.treatment_arm.name" version="timelineEvent.event_data.treatment_arm.version" stratum="timelineEvent.event_data.treatment_arm.stratum"></treatment-arm-title></span>
                <br>
                </span>

                <span ng-if="timelineEvent.entity_id && timelineEvent.event_data.molecular_id && timelineEvent.event_data.analysis_id">
                    Assignment Report: <span class="timeline-value"><patient-title text-color="timelineEvent.event_data.assignment_report_status | patientStatus" patient-id="timelineEvent.entity_id" section="'assignment_report'" text="timelineEvent.event_data.assignment_report_status" molecular-id="timelineEvent.event_data.molecular_id" analysis-id="timelineEvent.event_data.analysis_id"></patient-title></span>
                <br>
                </span>

                <span ng-if="timelineEvent.event_data.comment">
                    Comments: <span class="timeline-value">{{::timelineEvent.event_data.comment}}</span>
                <br>
                </span>

                <span ng-if="timelineEvent.event_data.comment_user">
                    By: <span class="timeline-value">{{::timelineEvent.event_data.comment_user}}</span>
                <br>
                </span>
            </p>
        </div>
    </div>
</div>