<div class="row">
    
    <div class="col-xs-5 col-md-4 date" ng-class="{'date-top-border':timelineEvent.isStepChanging}">
        <i class="fa {{getIcon()}} fa-2x"></i> <small>{{::timelineEvent.event_date | utc}}</small>
        <br/>
        <small class="text-navy">{{::timelineEvent.from_now}}</small>
    </div>

    <div class="col-xs-7 col-md-8 content" ng-class="{'no-top-border':!timelineEvent.isStepChanging}">
        <p class="m-b-xs timeline-title"><span ng-if="timelineEvent.event_data.step" class="timeline-step">Step: {{::timelineEvent.event_data.step}}.</span> <strong>{{::timelineEvent.event_message}}</strong></p>
        <p class="m-b-xs">
            <span ng-if="timelineEvent.entity_id">
                Patient: <span class="timeline-value"><patient-title patient-id="timelineEvent.entity_id" text="timelineEvent.entity_id"></patient-title></span>
                <br>
            </span>
            
            <span ng-if="timelineEvent.event_data.treatment_arm">
                <treatment-arm-title name="timelineEvent.event_data.treatment_arm.name" stratum="timelineEvent.event_data.treatment_arm.stratum" version="timelineEvent.event_data.treatment_arm.version"></treatment-arm-title>
                <br>
            </span>

            <span ng-repeat="pair in timelineEvent.event_data">
                {{::pair.prop}}: <span class="timeline-value">{{::pair.value}}</span>
                <br>
            </span>
        </p>
    </div>
</div>