<div class="row timeline-event">
    <div class="row">
        <div class="col-md-2">
            <i class="fa fa-user fa-2x event-icon" title="Patient Event"></i>
        </div>
        <div class="col-md-10 event-title">
            <span class="event-date-age">
                {{::timelineEvent.event_date | utc}},
                <span class="event-age">{{::timelineEvent.from_now}}</span>
            </span>
            <p class="m-b-xs"><span class="timeline-step">Step: {{::timelineEvent.event_data.step}}. </span> <strong>{{::timelineEvent.event_message}}</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="m-b-xs event-content">
                <!--<dl>
                    <dt ng-if="timelineEvent.entity_id">Patient</dt>
                    <dd ng-if="timelineEvent.entity_id"><patient-title patient-id="timelineEvent.entity_id" text="timelineEvent.entity_id"></patient-title></dd>

                    <dt ng-if="timelineEvent.event_data.location">Status</dt>
                    <dd ng-if="timelineEvent.event_data.location">{{::timelineEvent.event_data.patient_status"}}</dd>

                    <dt ng-if="timelineEvent.event_data.location">Location</dt>
                    <dd ng-if="timelineEvent.event_data.location">{{::timelineEvent.event_data.location"}}</dd>

                    <dt ng-if="timelineEvent.event_data.rebiopsy">Rebiopsy</dt>
                    <dd ng-if="timelineEvent.event_data.rebiopsy">{{::timelineEvent.event_data.rebiopsy"}}</dd>
                </dl>-->
                
                <span ng-if="timelineEvent.entity_id">
                    Patient: <span class="timeline-value"><patient-title patient-id="timelineEvent.entity_id" text="timelineEvent.entity_id"></patient-title></span>
                    <span ng-if="timelineEvent.event_data.patient_status">
                        <span class="timeline-value" style="color: {{::timelineEvent.event_data.patient_status | patientStatus}}">{{::timelineEvent.event_data.patient_status}}</span>
                    </span>
                <br>
                </span>
                                
                <span ng-if="timelineEvent.event_data.location">
                    Locations: <span class="timeline-value">{{::timelineEvent.event_data.location}}</span>
                    <br>
                </span>
                                        
                <span ng-if="timelineEvent.event_data.rebiopsy">
                    Rebiopsy: <span class="timeline-value">{{::timelineEvent.event_data.rebiopsy}}</span>
                    <br>
                </span>
            </p>
        </div>
    </div>
</div>
