<div class="row timeline-event">
    <div class="row">
        <div class="col-md-2">
            <i class="fa fa-medkit fa-2x event-icon" title="Biopsy Assay Event"></i>
        </div>
        <div class="col-md-10 event-title">
            <span class="event-date-age">
                {{::timelineEvent.event_date | utc}},
                <span class="event-age">{{::timelineEvent.from_now}}</span>
            </span>
            <p class="m-b-xs">
                <span ng-if="timelineEvent.event_data.step" class="timeline-step">Step: {{::timelineEvent.event_data.step}}.</span> <strong>{{::timelineEvent.event_message}}</strong>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="m-b-xs event-content">

                <span ng-if="timelineEvent.event_data.treatment_arm">
                    <treatment-arm-title name="timelineEvent.event_data.treatment_arm.name" stratum="timelineEvent.event_data.treatment_arm.stratum" version="timelineEvent.event_data.treatment_arm.version"></treatment-arm-title>
                    <br>
                </span>
        
                <span ng-if="timelineEvent.event_data.treatment_arm_status">
                    Status: <span class="timeline-value" style="color: {{::timelineEvent.event_data.treatment_arm_status | taStatus}}">{{::timelineEvent.event_data.treatment_arm_status}}</span>
                    <br>
                </span>

            </p>
        </div>
    </div>
</div>
