<div class="row">
    <div class="col-xs-5 col-md-4 date" ng-class="{'date-top-border': (showStepDelimiter && timelineEvent.isStepChanging)}">
        <i class="fa fa-medkit fa-2x"></i> <small>{{::timelineEvent.event_date | utc}}</small>
        <br/>
        <small class="text-navy">{{::timelineEvent.from_now}}</small>
    </div>
    <div class="col-xs-7 col-md-8 content" ng-class="{'no-top-border': !(showStepDelimiter && timelineEvent.isStepChanging)}">
        <p class="m-b-xs timeline-title"><span ng-if="timelineEvent.event_data.step" class="timeline-step">Step: {{::timelineEvent.event_data.step}}.</span> <strong>{{::timelineEvent.event_message}}</strong></p>
        <p class="m-b-xs">
            <span ng-if="timelineEvent.event_data.treatment_arm">
                <treatment-arm-title name="timelineEvent.event_data.treatment_arm.name" stratum="timelineEvent.event_data.treatment_arm.stratum" version="timelineEvent.event_data.treatment_arm.version"></treatment-arm-title>
                <br>
            </span>
       
            <span ng-if="timelineEvent.event_data.treatment_arm_status">
                Status: <span class="timeline-value" style="color: {{::timelineEvent.event_data.treatment_arm_status | taStatus}}">{{::timelineEvent.event_data.treatment_arm_status}}</span>
                <br>
            </span>
        </p>
    </div>
</div>