<div class="row timeline-event">
    <div class="row">
        <div class="col-md-2">
            <i class="fa fa-user-md fa-2x event-icon" title="User Event"></i>
        </div>
        <div class="col-md-10 event-title">
            <span class="event-date-age">
                {{::timelineEvent.event_date | utc}},
                <span class="event-age">{{::timelineEvent.from_now}}</span>
            </span>
            <p class="m-b-xs"><span class="timeline-step">Step: {{::timelineEvent.event_data.step}}. </span> <strong>{{::timelineEvent.event_message}}</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="m-b-xs event-content">

                <span ng-if="timelineEvent.event_data.user">
                    User: <span class="timeline-value">{{::timelineEvent.event_data.user }}</span>
                    <br>
                </span>

                <span ng-if="timelineEvent.event_data.user_file_name">
                    File: <span class="timeline-value"><a href="{{::timelineEvent.event_data.user_file_url }}">{{::timelineEvent.event_data.user_file_name }}</a></span>
                    <br>
                </span>

            </p>
        </div>
    </div>
</div>
