<div class="row border-bottom white-bg dashboard-header animated fadeInRight">

    <div class="col-sm-3" ng-controller="DashboardController as dashboardStats" ng-init="loadDashboardData()"><!-- loadPatientPendingAssignmentReportsList() -->
        <h2>Welcome, {{ name }}!</h2>
        <ul class="list-group clear-list m-t">
            <li class="list-group-item fist-item">
                <span class="pull-right">{{ numberOfPatients }}</span>
                <span class="label label-info"><i class="fa fa-group"></i></span>Number of Registered Patients
            </li>
            <li class="list-group-item">
                <span class="pull-right">{{ numberOfScreenedPatients }}</span>
                <span class="label label-info"><i class="fa fa-group"></i></span>Number of Patients with Confirmed Variant Report
            </li>
            <li class="list-group-item">
                <span class="pull-right">{{ numberOfPatientsWithTreatment }}</span>
                <span class="label label-success"><i class="fa fa-medkit"></i></span>Number of Patients on Treatment
            </li>
            <li class="list-group-item">
                <span class="pull-right">{{ pendingTissueVariantReportList.length }}</span>
                <span class="label label-warning"><i class="fa fa-newspaper-o"></i></span>Pending Tissue Variant Reports
            </li>
            <li class="list-group-item">
                <span class="pull-right">{{ pendingBloodVariantReportList.length }}</span>
                <span class="label label-warning"><i class="fa fa-newspaper-o"></i></span>Pending Blood Variant Reports
            </li>
            <li class="list-group-item">
                <span class="pull-right">{{ pendingAssignmentReportList.length }}</span>
                <span class="label label-warning"><i class="fa fa-newspaper-o"></i></span>Pending Assignment Reports
            </li>
        </ul>
    </div>

    <div class="col-sm-6" ng-controller="DashboardController as chart" ng-init="setCanvasHeight('#treatmentArmAccrualCanvas', 175);loadTreatmentArmAccrualData();">
        <div id="chartBox" class="statistic-box">
            <div class="text-center">
                <h4>Top 5 Treatment Arm Accrual</h4>
            </div>
            <canvas id="treatmentArmAccrualCanvas" barchart options="barOptions" ng-attr-data="barData" responsive=true></canvas>
        </div>
    </div>

    <div class="col-sm-3" ng-controller="DashboardController as chartjsDonut" ng-init="setCanvasHeight('#amoiCanvas', 200);loadChartjsDonutChartData();">
        <div class="statistic-box">
            <div class="text-center">
                <h4>Sequenced & Confirmed Patients with aMOI(s)</h4>
            </div>
            <canvas id="amoiCanvas" doughnutchart options="donutOptions" ng-attr-data="donutData" legend="true" responsive=true></canvas>
            <!--  legend="true" -->
        </div>
    </div>

</div>

<div class="wrapper wrapper-dashboard">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-5">

            <div class="ibox-title ibox-title-no-line">
                <h3>Activity Feed</h3>
            </div>

            <div class="ibox-content inspinia-timeline" ng-controller="ActivityController as activity" ng-init="activity.loadData()">
                <div class="timeline-item" ng-repeat="timelineEvent in activity.data">
                    <patient-timeline timeline-event="timelineEvent" type="timelineEvent.event_type" layout="'narrow'"></patient-timeline>
                </div>
            </div>
        </div>

        <div class="col-lg-9 col-md-8 col-sm-7">
            <div class="ibox-title ibox-title-no-line">
                <h5>Pending Review </h5>
            </div>
            <div class="tabs-container">
                <uib-tabset>
                    <uib-tab heading="Tissue Variant Reports">
                        <div class="panel-body" ng-controller="DashboardController as DashCtrl" ng-init="loadTissueVariantReportsList()">
                            <table datatable="ng" dt-options="DashCtrl.ddOptions" dt-column-defs="DashCtrl.dtColumnDefs" dt-instance="DashCtrl.dtInstance" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Patient ID</th>
                                        <th>Molecular ID</th>
                                        <th>Analysis ID</th>
                                        <th class="text-center">Variant Report</th>
                                        <th>CLIA Lab</th>
                                        <th>Specimen Received Date</th>
                                        <th>Variant Report Received Date</th>
                                        <th>Days Pending</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="patient in pendingTissueVariantReportList">
                                        <td>
                                            <a ui-sref="patient({ patient_id: patient.patient_id })">
                                                <i class="fa fa-user"></i> {{::patient.patient_id || '-' }}
                                            </a>
                                        </td>
                                        <td><a ui-sref="patient({ patient_id: patient.patient_id, section: 'surgical_event', molecular_id: patient.molecular_id, analysis_id: patient.analysis_id })">{{ patient.molecular_id || '-' }}</a></td>
                                        <td><a ui-sref="patient({ patient_id: patient.patient_id, section: 'tissue_variant_report', molecular_id: patient.molecular_id, analysis_id: patient.analysis_id })">{{ patient.analysis_id || '-' }}</a></td>
                                        <td class="text-center">
                                            <a ui-sref="patient({ patient_id: patient.patient_id, section: 'tissue_variant_report', molecular_id: patient.molecular_id, analysis_id: patient.analysis_id })" title="Variant Report">
                                                <i class="fa fa-file-text-o"></i>
                                            </a>
                                        </td>
                                        <td>{{ patient.clia_lab || '-' }}</td>
                                        <td>{{ patient.specimen_received_date | gmt }}</td>
                                        <td>{{ patient.variant_report_received_date | gmt }}</td>
                                        <td><span ng-if="patient.days_pending >= days_pending_range.upper_bound_yellow" class="label label-danger">{{ patient.days_pending || '-' }}</span>
                                            <span ng-if="patient.days_pending < days_pending_range.upper_bound_yellow && patient.days_pending >= days_pending_range.upper_bound_green" class="label label-warning">{{ patient.days_pending || '-' }}</span>
                                            <span ng-if="patient.days_pending < days_pending_range.upper_bound_green" class="label label-primary">{{ patient.days_pending || '-' }}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </uib-tab>
                    <uib-tab heading="Blood Variant Reports">
                        <div class="panel-body" ng-controller="DashboardController as DashCtrl" ng-init="loadBloodVariantReportsList()">
                            <table datatable="ng" dt-options="DashCtrl.ddOptions" dt-column-defs="DashCtrl.dtColumnDefs" dt-instance="DashCtrl.dtInstance" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Patient ID</th>
                                        <th>Molecular ID</th>
                                        <th>Analysis ID</th>
                                        <th class="text-center">Variant Report</th>
                                        <th>CLIA Lab</th>
                                        <th>Specimen Received Date</th>
                                        <th>Variant Report Received Date</th>
                                        <th>Days Pending</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="patient in pendingBloodVariantReportList">
                                        <td>
                                            <a ui-sref="patient({ patient_id: patient.patient_id })">
                                                <i class="fa fa-user"></i> {{::patient.patient_id || '-' }}
                                            </a>
                                        </td>
                                        <td><a ui-sref="patient({ patient_id: patient.patient_id, section: 'surgical_event', molecular_id: patient.molecular_id, analysis_id: patient.analysis_id })">{{ patient.molecular_id || '-' }}</a></td>
                                        <td><a ui-sref="patient({ patient_id: patient.patient_id, section: 'blood_variant_report', molecular_id: patient.molecular_id, analysis_id: patient.analysis_id })">{{ patient.analysis_id || '-' }}</a></td>
                                        <td class="text-center">
                                            <a ui-sref="patient({ patient_id: patient.patient_id, section: 'blood_variant_report', molecular_id: patient.molecular_id, analysis_id: patient.analysis_id })" title="Variant Report">
                                                <i class="fa fa-file-text-o"></i>
                                            </a>
                                        </td>
                                        <td>{{ patient.clia_lab || '-' }}</td>
                                        <td>{{ patient.specimen_received_date | gmt }}</td>
                                        <td>{{ patient.variant_report_received_date | gmt }}</td>
                                        <td><span ng-if="patient.days_pending >= days_pending_range.upper_bound_yellow" class="label label-danger">{{ patient.days_pending || '-' }}</span>
                                            <span ng-if="patient.days_pending < days_pending_range.upper_bound_yellow && patient.days_pending >= days_pending_range.upper_bound_green" class="label label-warning">{{ patient.days_pending || '-' }}</span>
                                            <span ng-if="patient.days_pending < days_pending_range.upper_bound_green" class="label label-primary">{{ patient.days_pending || '-' }}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </uib-tab>
                    <uib-tab heading="Assignment Reports">
                        <div class="panel-body" ng-controller="DashboardController as DashCtrl" ng-init="loadPatientPendingAssignmentReportsList()">
                            <table datatable="ng" dt-options="DashCtrl.ddOptions" dt-column-defs="DashCtrl.dtColumnDefs" dt-instance="DashCtrl.dtInstance" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Patient ID</th>
                                        <th>Molecular ID</th>
                                        <th>Analysis ID</th>
                                        <th class="text-center">Assignment Report</th>
                                        <th>Disease</th>
                                        <th>Assigned Treatment Arm</th>
                                        <th>Assignment Date</th>
                                        <th>Hours Pending</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="patient in pendingAssignmentReportList">
                                        <td>
                                            <a ui-sref="patient({ patientSequenceNumber: patient.patientSequenceNumber })">
                                                <i class="fa fa-user"></i> {{::patient.patient_id }}
                                            </a>
                                        </td>
                                        <td><a ui-sref="patient({ patient_id: patient.patient_id, section: 'surgical_event', molecular_id: patient.molecular_id, analysis_id: patient.analysis_id })">{{ patient.molecular_id || '-' }}</a></td>
                                        <td><a ui-sref="patient({ patient_id: patient.patient_id, section: 'assignment_report', molecular_id: patient.molecular_id, analysis_id: patient.analysis_id })">{{ patient.analysis_id || '-' }}</a></td>
                                        <td class="text-center">
                                            <a ui-sref="patient({ patient_id: patient.patient_id, section: 'assignment_report', molecular_id: patient.molecular_id, analysis_id: patient.analysis_id })" title="Variant Report">
                                                <i class="fa fa-file-text-o"></i>
                                            </a>
                                        </td>
                                        <td><a>{{patient.disease || '-'}}</a></td>
                                        <td><a ui-sref="treatment-arm({ treatmentArmId: patient.treatment_arm })">{{patient.treatment_arm + " " + patient.stratum || '-'}}</a></td>
                                        <td>{{ patient.assignment_date | gmt }}</td>
                                        <td><span ng-if="patient.hours_pending >= hours_pending_range.upper_bound_yellow" class="label label-danger">{{ patient.hours_pending || '-' }}</span>
                                            <span ng-if="patient.hours_pending < hours_pending_range.upper_bound_yellow && patient.hours_pending >= hours_pending_range.upper_bound_green" class="label label-warning">{{ patient.hours_pending || '-' }}</span>
                                            <span ng-if="patient.hours_pending < hours_pending_range.upper_bound_green" class="label label-primary">{{ patient.hours_pending || '-' }}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>
