<div ng-controller="IrAdminController">


    <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>IR Reporters</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="dashboard">Dashboard</a>
            </li>
            <li class="active">
                <strong>IR Reporters</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>


    <div class="wrapper" >

        <div class="no-horizontal-padding header-box-container">

            <div class="tabs-container">

                <uib-tabset>

                    <uib-tab heading="Heartbeat">
                        <div class="panel-body" >
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">
                                    <div class="col-lg-12" ng-init="loadHeartBeatList()">
                                        <div class="ibox float-e-margins">

                                            <div class="ibox-content inspinia-timeline" ng-repeat="ir in irList">

                                                <div class="timeline-item">
                                                    <div class="row">
                                                        <div class="col-xs-3 date">
                                                            <i class="fa fa-briefcase"></i>
                                                            <i class="{{ ir.timer[0] }}" style="{{ ir.timer[1] }}"></i>
                                                            <br/>
                                                            <a class="ng-binding"> {{ ir.hostName }} </a>
                                                            </br>
                                                            <small class="text-navy"> {{ ir.time }} </small>

                                                        </div>
                                                        <div class="col-xs-9 content no-top-border">

                                                            <div class="row">
                                                                <div class="col-md-4 col-sm-6 text-left">
                                                                    <dl class="dl-horizontal-narrow">

                                                                        <dt>IP Address</dt>
                                                                        <dd ng-style="{'color':'green'}" class="ng-binding" style="color: rgb(0, 128, 0);">{{ ir.externalIpAddress }}</dd>

                                                                        <dt>Internal IP Address</dt>
                                                                        <dd ng-style="{'color':'green'}" class="ng-binding" style="color: rgb(0, 128, 0);">{{ ir.ipAddress }}</dd>

                                                                    </dl>
                                                                </div>
                                                                <div class="col-md-4 col-sm-6 text-left">
                                                                    <dl class="dl-horizontal-narrow">
                                                                        <dt>Location</dt>
                                                                        <dd ng-style="{'color':'green'}" class="ng-binding" style="color: rgb(0, 128, 0);">{{ ir.location  || '-'  }}</dd>

                                                                        <dt class="ng-binding">Status</dt>
                                                                        <dd ng-style="{'color':'green'}" class="ng-binding" style="color: rgb(0, 128, 0);">{{ ir.lastContactDate | gmt}}</dd>
                                                                    </dl>
                                                                </div>


                                                                <div class="col-md-4 col-sm-6 text-left">

                                                                    <dt>Files</dt>
                                                                    <dd>

                                                                        <!--href="https://matchbox.nci.nih.gov:8443/match/common/rs/getIrUploaderFile/dbReport?ipAddress=129.43.127.133"-->

                                                                        <a target='_blank' href="{{ ir.dbReportPath }}" class="btn btn-xs btn-white file-button-xs">DB REPORT</a>
                                                                        <a target='_blank' href="{{ ir.dataFilePath }}" class="btn btn-xs btn-white file-button-xs">DATA FILE</a>
                                                                        <a target='_blank' href="{{ ir.logFilePath }}" class="btn btn-xs btn-white file-button-xs">LOG FILE</a>
                                                                    </dd>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>

                    <uib-tab heading="Sample Control">

                        <div class="panel-body" ng-controller="IrAdminController" >
                            <div ng-app="">
                                <div class="row">
                                    <div class="col-md-8 text-left">
                                        <div class="btn-group btn-group-margin" data-toggle="buttons">
                                            <label class="btn btn-outline btn-success active"
                                                   ng-click="showsection=false"
                                                   title="Switch to MoCha">
                                                <input type="radio" name="SampleType" id="s1">MoCha
                                            </label>
                                            <label class="btn btn-outline btn-success"
                                                   ng-click="showsection=true"
                                                   title="Switch to MD Anderson">
                                                <input type="radio" name="SampleType" id="s2">MD Anderson
                                            </label>
                                        </div>

                                    </div>
                                </div>

                                    <!--MoCha Sets-->
                                <div class="ibox-title ibox-title-no-line" ng-hide="showsection">
                                    <div ng-controller="IrAdminController" ng-init="loadSampleControlsList()">


                                        <button style="width:300px; margin: 0px 3px 8px 3px"
                                                data-dismiss="modal" class="btn btn-primary pull-right"
                                                type="button" ng-click="showPositiveControlConfirmation('MoCha')">
                                            Generate MSN
                                        </button>

                                        <div class="row">
                                            <div class="col-xs-3">
                                                <h3>Positive Sample Controls - MoCha</h3>
                                            </div>
                                        </div>

                                                <table datatable="ng" dt-options="dtOptions"
                                                       dt-column-defs="dtColumnDefs"
                                                       dt-instance="dtInstance"
                                                       class="table table-hover" role="grid" width="100%">
                                                    <thead>
                                                    <tr>
                                                        <th >Sample ID</th>
                                                        <th >Sample Report Link</th>
                                                        <th >Date Created</th>
                                                        <th >Date Received</th>
                                                        <th >Status</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="sample in positiveListMocha">
                                                        <td>{{sample.sampleMsn}}</td>
                                                        <td >
                                                            <a ng-if="!sample.status"> - </a>
                                                            <a ng-if="sample.status" ui-sref="ngsample({ sampleId: sample.sampleMsn})">
                                                                {{ sample.sampleMsn || '-' }}
                                                            </a>
                                                        </td>
                                                        <td>{{sample.dateCreated | gmt }}</td>
                                                        <td>{{sample.dateReceived | gmt }}</td>
                                                        <td ng-style="{'color':'{{ sample.status | irsample }}'}">
                                                            {{sample.status}}
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>

                                        <!--Negative MoCha-->
                                        <button style="width:300px; margin: 0px 3px 8px 3px"
                                                data-dismiss="modal" class="btn btn-primary pull-right"
                                                type="button" ng-click="showNoTemplateControlConfirmation('MoCha')">
                                            Generate MSN
                                        </button>

                                        <div class="row">
                                            <div class="col-xs-3">
                                                <h3>No Template Control - MoCha</h3>
                                            </div>
                                        </div>

                                            <table datatable="ng" dt-options="dtOptions"
                                                   dt-column-defs="dtColumnDefs"
                                                   dt-instance="dtInstance"
                                                   class="table table-hover" role="grid" width="100%">
                                                <thead>
                                                <tr>
                                                    <th >Sample ID</th>
                                                    <th >Sample Report Link</th>
                                                    <th >Date Created</th>
                                                    <th >Date Received</th>
                                                    <th >Status</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="sample in negativeListMocha">
                                                    <td>{{sample.sampleMsn}}</td>
                                                    <td>
                                                        <a ng-if="!sample.status"> - </a>
                                                        <a ng-if="sample.status" ui-sref="ngsample({ sampleId: sample.sampleMsn})">
                                                            {{ sample.sampleMsn || '-' }}
                                                        </a>
                                                    </td>
                                                    <td>{{sample.dateCreated | gmt }}</td>
                                                    <td>{{sample.dateReceived | gmt }}</td>
                                                    <td ng-style="{'color':'{{ sample.status | irsample }}'}">
                                                        {{sample.status}}
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                    </div>
                                </div>
                                    <!--MoCha Sets-->

                                    <!--MDCC Sets-->
                                <div class="ibox-title ibox-title-no-line" ng-show="showsection">
                                    <div ng-controller="IrAdminController" ng-init="loadSampleControlsList()">

                                        <button style="width:300px; margin: 0px 3px 8px 3px"
                                                data-dismiss="modal" class="btn btn-primary pull-right"
                                                type="button" ng-click="showPositiveControlConfirmation('MDACC')">
                                            Generate MSN
                                        </button>

                                        <div class="row">
                                            <div class="col-xs-3">
                                                <h3>Positive Sample Controls - MD Anderson</h3>
                                            </div>
                                        </div>

                                            <table datatable="ng" dt-options="dtOptions"
                                                   dt-column-defs="dtColumnDefs"
                                                   dt-instance="dtInstance"
                                                   class="table table-hover" role="grid" width="100%">
                                                <thead>
                                                <tr>
                                                    <th >Sample ID</th>
                                                    <th >Sample Report Link</th>
                                                    <th >Date Created</th>
                                                    <th >Date Received</th>
                                                    <th >Status</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="sample in positiveListMDCC">
                                                    <td>{{sample.sampleMsn}}</td>
                                                    <td>
                                                        <a ng-if="!sample.status"> - </a>
                                                        <a ng-if="sample.status" ui-sref="ngsample({ sampleId: sample.sampleMsn})">
                                                            {{ sample.sampleMsn || '-' }}
                                                        </a>
                                                    </td>
                                                    <td>{{sample.dateCreated | gmt }}</td>
                                                    <td>{{sample.dateReceived | gmt }}</td>
                                                    <td ng-style="{'color':'{{ sample.status | irsample }}'}">
                                                        {{sample.status}}
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>

                                        <button style="width:300px; margin: 0px 3px 8px 3px"
                                                data-dismiss="modal" class="btn btn-primary pull-right"
                                                type="button" ng-click="showNoTemplateControlConfirmation('MDACC')">
                                            Generate MSN
                                        </button>

                                        <!--Negative MD Anderson-->
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <h3>No Template Control - MD Anderson</h3>
                                            </div>
                                        </div>

                                            <table datatable="ng" dt-options="dtOptions"
                                                   dt-column-defs="dtColumnDefs"
                                                   dt-instance="dtInstance"
                                                   class="table table-hover" role="grid" width="100%">
                                                <thead>
                                                <tr>
                                                    <th >Sample ID</th>
                                                    <th >Sample Report Link</th>
                                                    <th >Date Created</th>
                                                    <th >Date Received</th>
                                                    <th >Status</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="sample in negativeListMDCC">
                                                    <td>{{sample.sampleMsn}}</td>
                                                    <td>
                                                        <a ng-if="!sample.status"> - </a>
                                                        <a ng-if="sample.status" ui-sref="ngsample({ sampleId: sample.sampleMsn})">
                                                            {{ sample.sampleMsn || '-' }}
                                                        </a>
                                                    </td>
                                                    <td>{{sample.dateCreated | gmt }}</td>
                                                    <td>{{sample.dateReceived | gmt }}</td>
                                                    <td ng-style="{'color':'{{ sample.status | irsample }}'}">
                                                        {{sample.status}}
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>

                                        <!--Negative MD Anderson-->
                                    </div>
                                </div>
                                    <!--MDCC Sets-->
                            </div>
                        </div>
                    </uib-tab>

                </uib-tabset>

            </div>
        </div>
    </div>

</div>
