<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Molecular Sequence Numbers</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="index.dashboard">Dasboard</a>
            </li>
            <li class="active">
                <strong>Molecular Sequence Numbers</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content p-xl">
    <div class="animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-3 pull-right">
                                <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
                            </div>
                        </div>
                        <div class="table-responsive" ng-controller="MolecularSequencesController" ng-init="loadMolecularSequencesList()">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>MSN </th>
                                    <th>PSN </th>
                                    <th>BSN </th>
                                    <th>Lab </th>
                                    <th>Tracking Number </th>
                                    <th>Nucleic Acid Sendout Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="molecularSequence in molecularSequencesList">
                                    <td>{{ molecularSequence.molecularSequenceNumber }}</td>
                                    <td>{{ molecularSequence.patientSequenceNumber }}</td>
                                    <td>{{ molecularSequence.biopsySeqenuceNumber }}</td>
                                    <td>{{ molecularSequence.lab }}</td>
                                    <td>{{ molecularSequence.trackingNumber }}</td>
                                    <td>{{ molecularSequence.nucleicAcidSendoutDate }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>