<div  ng-controller="SampleController">

    <div class="row wrapper border-bottom white-bg page-heading">

            <div class="col-lg-10">
                <h2>IR Sample Control Variant Report</h2>

                <ol class="breadcrumb">
                    <li>
                        <a ui-sref="dashboard">Dashboard</a>
                    </li>
                    <li class="active">
                        <!--<a ui-sref="iradmin"> IR Reporters</a>-->
                        <a ui-sref="iradmin({ branch: branch})">Clear Labs ({{branch}})</a>
                    </li>
                    <li class="active">
                        <strong>IR Sample Control Variant Report</strong>
                    </li>
                </ol>
            </div>
    </div>



    <div class="wrapper" ng-init="loadVariantReportList()">


            <div class="no-horizontal-padding header-box-container">

                <div class="row">

                    <!--CHARTS-->
                    <div class="row border-bottom white-bg dashboard-header animated fadeInRight">

                        <div class="wrapper">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-content">

                                        <div class="panel-default"  ng-init="loadSampleBreakups()">

                                            <div class="col-lg-14 pull-left">

                                                <div class="ibox float-e-margins">

                                                    <div class="col-xs-14 cols-height">

                                                            <!--PIE CHART-->
                                                            <div class="col-xs-2 cols-height cols-bottom">

                                                                <div class="panel" ng-init="loadPieChart();">
                                                                    <canvas id="pieCanvas" piechart
                                                                            ng-attr-data="pieData" responsive=true width="600" height="600"
                                                                            style="width: 603px; height: 601px; border-bottom: thin dimgrey solid; border-top: thin dimgrey solid;"></canvas>
                                                                </div>


                                                                <div class="tabs-container">

                                                                        <table class="table" role="grid" width="100%">
                                                                            <thead>
                                                                            <tr style="font-size: smaller">
                                                                                <td >Positive Control</td>
                                                                                <td >No Template Control</td>
                                                                                <td >No Template Control</td>
                                                                            </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                            <td>88 <div class="stat-percent font-bold text-success"> 98% <i class="fa fa-bolt"></i></div></td>
                                                                            <td>42 <div class="stat-percent font-bold text-info"> 20% <i class="fa fa-level-up"></i></div></td>
                                                                            <td>12 <div class="stat-percent font-bold text-info"> 20% <i class="fa fa-level-up"></i></div></td>
                                                                            </tbody>
                                                                        </table>

                                                                </div>
                                                            </div>
                                                            <!--PIE CHART-->

                                                            <!--HISTOGRAM CHART-->
                                                            <div class="col-lg-10 cols-bottom" >

                                                                <div class="col-xs-6">
                                                                    <canvas id="mainSampleCanvas" barchart options="chart.barOptions" ng-attr-data="barData"
                                                                            responsive=true width="500" height="400"  style="width: 503px; height: 401px;">
                                                                    </canvas>
                                                                </div>

                                                                <!--SPOT TABS-->
                                                                <div class="col-xs-4">

                                                                    <div class="header-info-box top-main-header-box" style="border:none;font-size: small" >

                                                                        <dl class="dl-horizontal">

                                                                            <dt>Molecular ID</dt>
                                                                            <dd>{{sampleId}}</dd>

                                                                            <dt>Analysis ID</dt>
                                                                            <dd>job_1</dd>

                                                                            <dt>Total Variants</dt>
                                                                            <dd>18</dd>

                                                                            <dt>MAPD</dt>
                                                                            <dd> - </dd>

                                                                            <dt> Cellularity</dt>
                                                                            <dd> - </dd>

                                                                            <dt>Positive Control</dt>
                                                                            <dd>1</dd>

                                                                            <dt>Positive Control Loaded Date</dt>
                                                                            <dd>July 31, 2015 3:57 PM GMT </dd>

                                                                            <dt>PFile Received Date</dt>
                                                                            <dd>September 18, 2015 3:21 PM GMT </dd>

                                                                            <dt style="width: 200px;text-align: left">Torrent Variant Caller Version</dt>
                                                                            <dd>tvc 4.4-8 </dd>

                                                                            <dt>Files</dt>
                                                                            <dd>
                                                                                <table><tr><td>
                                                                                    <a href="https://matchbox.nci.nih.gov:8443/match/common/rs/getSampleControlFile/IonXpress_087_rawlib.bam?molecularSequenceNumber={{sampleId}}"
                                                                                       class="btn btn-xs btn-white file-button-xs">DNA BAM</a>
                                                                                </td><td>
                                                                                    <a href="https://matchbox.nci.nih.gov:8443/match/common/rs/getSampleControlFile/IonXpress_087_rawlib.bam.bai?molecularSequenceNumber={{sampleId}}"
                                                                                       class="btn btn-xs btn-white file-button-xs">DNA BAI</a>
                                                                                </td><td>
                                                                                    <a href="https://matchbox.nci.nih.gov:8443/match/common/rs/getSampleControlFile/SampleControl_MoCha_1_v1_all-matched.vcf?molecularSequenceNumber={{sampleId}}"
                                                                                       class="btn btn-xs btn-white file-button-xs">VCF</a>
                                                                                </td></tr><tr><td>
                                                                                    <a href="https://matchbox.nci.nih.gov:8443/match/common/rs/getSampleControlFile/IonXpress_088_rawlib.bam.bai?molecularSequenceNumber={{sampleId}}"
                                                                                       class="btn btn-xs btn-white file-button-xs">RNA BAI</a>
                                                                                </td><td>
                                                                                    <a href="https://matchbox.nci.nih.gov:8443/match/common/rs/getSampleControlFile/IonXpress_088_rawlib.bam?molecularSequenceNumber={{sampleId}}"
                                                                                       class="btn btn-xs btn-white file-button-xs">RNA BAM</a>
                                                                                </td><td>
                                                                                    <a href="#" class="btn btn-xs btn-white file-button-xs">All (Zip)</a>
                                                                                </td></tr></table>
                                                                            </dd>
                                                                        </dl>

                                                                        <dl class="dl-horizontal">
                                                                            <dt>Quality Control Report</dt>
                                                                            <dd>
                                                                                <a ui-sref="ocsample({ sampleId:sampleId })" class="btn btn-xs btn-success file-button-xl">
                                                                                    <i class="fa fa-bar-chart"></i>&nbsp;&nbsp;
                                                                                    <span class="bold">Quality Control Report</span>
                                                                                </a>
                                                                            </dd>
                                                                        </dl>

                                                                    </div>
                                                                </div>
                                                                <!--SPOT TABS-->
                                                            </div>
                                                            <!--HISTOGRAM CHART-->
                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--CHARTS-->

                    <!--TABLES-->
                    <div class="animated fadeInRight">

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="wrapper wrapper-content">
                                    <div class="row">

                                        <div class="col-lg-16" >
                                            <div class="ibox float-e-margins">
                                                <div class="col-lg-16" >
                                                    <div class="ibox-content">
                                                            <div class="ibox-title ibox-title-no-line pull">
                                                                <h3>Positive Controls</h3>
                                                            </div>
                                                            <table class="table" role="grid">
                                                                <thead>
                                                                <tr>
                                                                    <th >Present ID</th>
                                                                    <th >Chromosome</th>
                                                                    <th >Position</th>
                                                                    <th >Gene</th>
                                                                    <th >Variant Type</th>

                                                                    <th >Reference </th>
                                                                    <th >Alternative</th>
                                                                    <th >HGVS</th>
                                                                    <th >Protein</th>
                                                                    <th >Function</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr ng-style="{'background-color':'{{ sample.hasMatchingVariant | irsample }}'}" ng-repeat="sample in positiveControlList">
                                                                    <td>{{sample.identifier || '-' }}</td>
                                                                    <td>{{sample.chromosome || '-' }}</td>
                                                                    <td>{{sample.position || '-' }}</td>
                                                                    <td>{{sample.geneName || '-' }}</td>
                                                                    <td>{{sample.variantType || '-' }}</td>
                                                                    <td>{{sample.reference || '-' }}</td>
                                                                    <td>{{sample.alternative || '-' }}</td>
                                                                    <td>{{sample.hgvs || '-' }}</td>
                                                                    <td>{{sample.protein || '-' }}</td>
                                                                    <td>{{sample.function || '-' }}</td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-16" >
                                            <div class="ibox float-e-margins">
                                                <div class="col-lg-16" >
                                                        <div class="ibox-content">
                                                                <div class="ibox-title ibox-title-no-line pull">
                                                                    <h3>False Positive Variants</h3>
                                                                </div>

                                                                <table class="table" role="grid">
                                                                    <thead>
                                                                    <tr>
                                                                        <th > ID</th>
                                                                        <th >Position</th>
                                                                        <th >Gene</th>
                                                                        <th >Variant Type</th>
                                                                        <th >Reference </th>
                                                                        <th >Alternative</th>
                                                                        <th >HGVS</th>
                                                                        <th >Protein</th>
                                                                        <th >Function</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr ng-repeat="sample in negativeVariantsList">
                                                                        <td>{{sample.publicMedIds || '-' }}</td>
                                                                        <td>{{sample.position || '-' }}</td>
                                                                        <td>{{sample.geneName || '-' }}</td>
                                                                        <td>{{sample.variantType || '-' }}</td>
                                                                        <td>{{sample.reference || '-' }}</td>
                                                                        <td>{{sample.alternative || '-' }}</td>
                                                                        <td>{{sample.hgvs || '-' }}</td>
                                                                        <td>{{sample.protein || '-' }}</td>
                                                                        <td>{{sample.function || '-' }}</td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--TABLES-->

                </div>

            </div>


    </div>
</div>