<div  ng-controller="SampleController">

    <div class="row wrapper border-bottom white-bg page-heading">

        <div class="col-lg-10">
            <h2>IR NTC Control Variant Report</h2>

            <ol class="breadcrumb">
                <li>
                    <a ui-sref="dashboard">Dashboard</a>
                </li>
                <li class="active">
                    <a ui-sref="iradmin"> IR Reporters</a>
                </li>
                <li class="active">
                    <strong>IR NTC Control Variant Report</strong>
                </li>
            </ol>
        </div>
    </div>



    <div class="wrapper" ng-controller="NtcController"  >


        <div class="no-horizontal-padding header-box-container">

            <div class="row">

                <div class="row equal-height-panels">

                    <div class="col-lg-12 col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body">


                                <div class="header-info-box top-main-header-box" style="border:none" >


                                    <dl class="dl-horizontal">

                                        <dt>Molecular Sequence Number</dt>
                                        <dd>{{sid}}</dd>

                                        <dt>Analysis ID</dt>
                                        <dd>Ntc-Job3</dd>

                                        <dt>Total Variants</dt>
                                        <dd>18</dd>

                                        <dt>MAPD</dt>
                                        <dd> 0.258 </dd>

                                        <dt> Cellularity</dt>
                                        <dd> 1.00102 </dd>

                                        <dt style="width: 200px;text-align: left">Torrent Variant Caller Version</dt>
                                        <dd>tvc 4.4-8 </dd>

                                        <dt>Status</dt>
                                        <dd>PASSED</dd>

                                        <dt>Comment</dt>
                                        <dd>Testing passing a failed NTC Sample Control.</dd>

                                        <dt>Files</dt>
                                        <dd>
                                            <a href="https://matchbox.nci.nih.gov:8443/match/common/rs/getSampleControlFile/IonXpress_087_rawlib.bam?molecularSequenceNumber={{sid}}"
                                               class="btn btn-xs btn-white file-button-xs">DNA BAM</a>
                                            <a href="https://matchbox.nci.nih.gov:8443/match/common/rs/getSampleControlFile/IonXpress_087_rawlib.bam.bai?molecularSequenceNumber={{sid}}"
                                               class="btn btn-xs btn-white file-button-xs">DNA BAI</a>
                                            <a href="https://matchbox.nci.nih.gov:8443/match/common/rs/getSampleControlFile/SampleControl_MoCha_1_v1_all-matched.vcf?molecularSequenceNumber={{sampleId}}"
                                               class="btn btn-xs btn-white file-button-xs">VCF</a>

                                            <a href="https://matchbox.nci.nih.gov:8443/match/common/rs/getSampleControlFile/IonXpress_088_rawlib.bam.bai?molecularSequenceNumber={{sid}}"
                                               class="btn btn-xs btn-white file-button-xs">RNA BAI</a>
                                            <a href="https://matchbox.nci.nih.gov:8443/match/common/rs/getSampleControlFile/IonXpress_088_rawlib.bam?molecularSequenceNumber={{sid}}"
                                               class="btn btn-xs btn-white file-button-xs">RNA BAM</a>
                                            <a href="#" class="btn btn-xs btn-white file-button-xs">All (Zip)</a>
                                        </dd>

                                        <dt>Quality Control Report</dt>
                                        <dd>
                                            <a ui-sref="ntc_quality_control({ sampleId:sid })" class="btn btn-xs btn-success file-button-xl">
                                                <i class="fa fa-bar-chart"></i>&nbsp;&nbsp;
                                                <span class="bold">Quality Control Report</span>
                                            </a>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-14">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">

                            <div class="tabs-container" ng-init="loadNtcUnfilteredReportList()">

                                <uib-tabset>

                                    <uib-tab heading="Single Nucleotide Variant(s) ">

                                        <div class="col-lg-16" >
                                            <div class="ibox float-e-margins">
                                                <div class="col-lg-16" >
                                                    <div class="ibox-content">
                                                        <div class="ibox-title ibox-title-no-line pull">
                                                            <h3>Single Nucleotide Variant(s)</h3>
                                                        </div>

                                                        <table class="table" role="grid">
                                                            <thead>
                                                            <tr>
                                                                <th >Id</th>
                                                                <th >Chrom</th>
                                                                <th >Position</th>
                                                                <th >Reference </th>
                                                                <th >Alternative</th>
                                                                <th >Allele Freq</th>
                                                                <th >Func Gene</th>
                                                                <th >Variant Type</th>
                                                                <th >Oncomine Variant Class</th>
                                                                <th >Function</th>
                                                                <th >HGVS</th>
                                                                <th >Read Depth</th>
                                                                <th >Transcript</th>
                                                                <th >Protein</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr ng-repeat="sample in singleNucleotideVariantsList">
                                                                <td>
                                                                    <a class="report-link" href ng-click="openCosmicId( sample.identifier )">
                                                                    {{sample.identifier || '-' }}
                                                                    </a>
                                                                </td>
                                                                <td>{{sample.chromosome || '-' }}</td>
                                                                <td>{{sample.position || '-' }}</td>
                                                                <td>{{sample.reference || '-' }}</td>
                                                                <td>{{sample.alternative || '-' }}</td>
                                                                <td>{{sample.alleleFrequency || '-' }}</td>
                                                                <td>{{sample.geneName || '-' }}</td>
                                                                <td>{{sample.type || '-' }}</td>
                                                                <td>{{sample.oncominevariantclass || '-' }}</td>
                                                                <td>{{sample.function || '-' }}</td>
                                                                <td>{{sample.hgvs || '-' }}</td>
                                                                <td>{{sample.readDepth || '-' }}</td>
                                                                <td>{{sample.transcript || '-' }}</td>
                                                                <td>{{sample.protein || '-' }}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </uib-tab>

                                    <uib-tab heading="Indel(s) " >


                                        <div class="col-lg-16" >
                                            <div class="ibox float-e-margins">
                                                <div class="col-lg-16" >
                                                    <div class="ibox-content">
                                                        <div class="ibox-title ibox-title-no-line pull">
                                                            <h3>Indel(s)</h3>
                                                        </div>

                                                        <table class="table" role="grid">
                                                            <thead>
                                                            <tr>
                                                                <th >Id</th>
                                                                <th >Chrom</th>
                                                                <th >Position</th>
                                                                <th >Reference </th>
                                                                <th >Alternative</th>
                                                                <th >Allele Freq</th>
                                                                <th >Func Gene</th>
                                                                <th >Variant Type</th>
                                                                <th >Oncomine Variant Class</th>
                                                                <th >Function</th>
                                                                <th >HGVS</th>
                                                                <th >Read Depth</th>
                                                                <th >Transcript</th>
                                                                <th >Protein</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr ng-repeat="sample in indelsList">
                                                                <td>{{sample.identifier || '-' }}</td>
                                                                <td>{{sample.chromosome || '-' }}</td>
                                                                <td>{{sample.position || '-' }}</td>
                                                                <td>{{sample.reference || '-' }}</td>
                                                                <td>{{sample.alternative || '-' }}</td>
                                                                <td>{{sample.alleleFrequency || '-' }}</td>
                                                                <td>{{sample.geneName || '-' }}</td>
                                                                <td>{{sample.type || '-' }}</td>
                                                                <td>{{sample.oncominevariantclass || '-' }}</td>
                                                                <td>{{sample.function || '-' }}</td>
                                                                <td>{{sample.hgvs || '-' }}</td>
                                                                <td>{{sample.readDepth || '-' }}</td>
                                                                <td>{{sample.transcript || '-' }}</td>
                                                                <td>{{sample.protein || '-' }}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </uib-tab>

                                    <uib-tab heading="Copy Number Variant(s) " >


                                        <div class="col-lg-16" >
                                            <div class="ibox float-e-margins">
                                                <div class="col-lg-16" >
                                                    <div class="ibox-content">
                                                        <div class="ibox-title ibox-title-no-line pull">
                                                            <h3>Copy Number Variant(s)</h3>
                                                        </div>

                                                        <table class="table" role="grid">
                                                            <thead>
                                                            <tr>
                                                                <th >Id</th>
                                                                <th >Chrom</th>
                                                                <th >Position</th>
                                                                <th >Reference </th>
                                                                <th >Alternative</th>
                                                                <th >Allele Freq</th>
                                                                <th >Func Gene</th>
                                                                <th >Variant Type</th>
                                                                <th >Oncomine Variant Class</th>
                                                                <th >Function</th>
                                                                <th >HGVS</th>
                                                                <th >Read Depth</th>
                                                                <th >Transcript</th>
                                                                <th >Protein</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr ng-repeat="sample in copyNumberVariantsList">
                                                                <td>{{sample.identifier || '-' }}</td>
                                                                <td>{{sample.chromosome || '-' }}</td>
                                                                <td>{{sample.position || '-' }}</td>
                                                                <td>{{sample.reference || '-' }}</td>
                                                                <td>{{sample.alternative || '-' }}</td>
                                                                <td>{{sample.alleleFrequency || '-' }}</td>
                                                                <td>{{sample.geneName || '-' }}</td>
                                                                <td>{{sample.type || '-' }}</td>
                                                                <td>{{sample.oncominevariantclass || '-' }}</td>
                                                                <td>{{sample.function || '-' }}</td>
                                                                <td>{{sample.hgvs || '-' }}</td>
                                                                <td>{{sample.readDepth || '-' }}</td>
                                                                <td>{{sample.transcript || '-' }}</td>
                                                                <td>{{sample.protein || '-' }}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </uib-tab>

                                    <uib-tab heading="Gene Fusion(s) " >


                                        <div class="col-lg-16" >
                                            <div class="ibox float-e-margins">
                                                <div class="col-lg-16" >
                                                    <div class="ibox-content">
                                                        <div class="ibox-title ibox-title-no-line pull">
                                                            <h3>Gene Fusion(s)</h3>
                                                        </div>

                                                        <table class="table" role="grid">
                                                            <thead>
                                                            <tr>
                                                                <th >Id</th>
                                                                <th >Driver Gene</th>
                                                                <th >Driver Count</th>
                                                                <th >Partner Gene </th>
                                                                <th >Annotation</th>

                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr ng-repeat="sample in geneFusionsList">

                                                                <td>{{sample.identifier || '-' }}</td>
                                                                <td>{{sample.geneName || '-' }}</td>
                                                                <td>{{sample.gene || '-' }}</td>
                                                                <td>{{sample.flowAlternativeAlleleObservationCount || '-' }}</td>
                                                                <td>{{sample.alternativeAlleleObservationCount || '-' }}</td>

                                                                <!--Original-->
                                                                <!--<td>{{sample.identifier || '-' }}</td>-->
                                                                <!--<td>{{sample.driverGene || '-' }}</td>-->
                                                                <!--<td>{{sample.partnerGene || '-' }}</td>-->
                                                                <!--<td>{{sample.driverReadCount || '-' }}</td>-->
                                                                <!--<td>{{sample.partnerReadCount || '-' }}</td>-->

                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </uib-tab>

                                    </uib-tabset>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>