<div ng-controller="PatientController" ng-init="loadPatientData()">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Patient</h2>
            <ol class="breadcrumb">
                <li>
                    <a ui-sref="dashboard">Dashboard</a>
                </li>
                <li>
                    <a ui-sref="patients">Patients</a>
                </li>
                <li class="active">
                    <strong>Patient {{ ::data.patient_id }}</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper">

        <div class="no-horizontal-padding header-box-container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header-info-box top-main-header-box">
                        <dl class="dl-horizontal">
                            <dt>Patient ID</dt>
                            <dd>{{::data.patient_id}}</dd>

                            <dt>Patient</dt>
                            <dd>{{::data.gender}}, {{::data.ethnicity}}</dd>

                            <dt>Last Rejoin Scan Date</dt>
                            <dd>{{ "TBD?" }}</dd>

                            <dt>Status</dt>
                            <dd ng-style="{'color':'{{ data.current_status | status }}'}">{{::data.current_status}}</dd>

                            <dt> Current Step</dt>
                            <dd>{{::data.current_step_number}}</dd>

                            <dt>Treatment Arm</dt>
                            <dd><a>{{ ::getCurrentAssignment() }}</a></dd>
                        </dl>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="header-info-box top-main-header-box">
                        <dl class="dl-horizontal">
                            <dt>Disease</dt>
                            <dd>{{::data.disease.name}}</dd>

                            <dt>CTEP Category</dt>
                            <dd>{{::data.disease.ctep_category}}</dd>

                            <dt>CTEP Sub Category</dt>
                            <dd>{{::data.disease.ctep_sub_category}}</dd>

                            <dt>CTEP Term</dt>
                            <dd>{{::data.disease.ctep_term}}</dd>

                            <dt>MedDRA Code</dt>
                            <dd>{{::data.disease.med_dra_code}}</dd>

                            <dt>Prior Drugs</dt>
                            <dd>{{::data.prior_drugs.join(', ')}}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="tabs-container">
            <uib-tabset>
                <uib-tab heading="Summary">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 center-block">
                                <div class="ibox float-e-margins">
                                    <div class="row">
                                        <div class="col-xs-4 col-md-4">
                                            <h3>Actions Needed</h3>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
                                            <ul class="sortable-list connectList agile-list">
                                                <li class="warning-element">
                                                    Variant Report <a>MSN12345</a> <span style="color:orange">PENDING</span>.
                                                    <strong>Please review.</strong>
                                                    <div class="agile-detail">
                                                        <i class="fa fa-clock-o"></i> 12.10.2015
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="ibox float-e-margins">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <h3>Patient Timeline</h3>
                                        </div>
                                    </div>

                                    <div class="ibox-content inspinia-timeline">
                                        <div class="timeline-item" ng-repeat="timelineEvent in data.timeline">
                                            <patient-timeline timeline-event="timelineEvent" type="timelineEvent.event_type"></patient-timeline>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>

                <uib-tab heading="Biopsy">
                    <div class="panel-body">

                        <div class="ibox-title ibox-title-no-line">
                            <h2>
                                <span class="drop-down-label">Biopsy</span>                                
                                <div dropdown-select="biopsyReports " dropdown-model="biopsyReport" dropdown-item-label="text">
                                </div>
                            </h2>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="header-info-box biopsy-header-box">
                                    <h4>Specimen</h4>
                                    <dl class="dl-horizontal">
                                        <dt>Collection Date</dt>
                                        <dd>{{::data.biopsy.specimen.collectionDate}}</dd>

                                        <dt>Received Date</dt>
                                        <dd>{{::data.biopsy.specimen.receivedDate}}</dd>

                                        <dt>Failure Date</dt>
                                        <dd>{{::data.biopsy.specimen.failureDate}}</dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="header-info-box biopsy-header-box">
                                    <h4>Pathology</h4>
                                    <dl class="dl-horizontal">
                                        <dt>Status</dt>
                                        <dd>{{::data.biopsy.pathology.status}}</dd>

                                        <dt>Received Date</dt>
                                        <dd>{{::data.biopsy.pathology.receivedDate}}</dd>

                                        <dt>Comment</dt>
                                        <dd>{{::data.biopsy.pathology.comment}}</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>

                        <div class="ibox-title ibox-title-no-line">
                            <h3>Assay History</h3>
                        </div>

                        <table class="table" role="grid">
                            <thead>
                                <tr>
                                    <th width="20%" class="label2">Gene</th>
                                    <th width="40%" class="label2">Ordered Date</th>
                                    <th width="20%" class="label2">Result Date</th>
                                    <th width="20%" class="label2">Result</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="assay in assayHistory" style="cursor: auto;" role="row" class="odd">
                                    <td>{{::assay.gene}}</td>
                                    <td>{{::assay.orderedDate}}</td>
                                    <td>{{::assay.resultDate}}</td>
                                    <td>
                                        <span ng-style="{'color':'{{ assay.result | assayStatus }}'}">{{::assay.result}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="ibox-title ibox-title-no-line">
                            <h3>{{ biopsySampleLabel }} Analysis</h3>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="header-info-box biopsy-sample-box">
                                    <h4>Sample</h4>
                                    <dl class="dl-horizontal">
                                        <dt>Molecular Sequence Number</dt>
                                        <dd>{{::data.currentSendout.msn}}</dd>

                                        <dt>Site</dt>
                                        <dd>{{::data.currentSendout.destinationDate}}</dd>

                                        <dt>Tracking Number</dt>
                                        <dd>{{::data.currentSendout.trackingNumber}}</dd>

                                        <dt>DNA Conc</dt>
                                        <dd>{{::data.currentSendout.dnaConcordance}}</dd>

                                        <dt>DNA Vol</dt>
                                        <dd>{{::data.currentSendout.dnaVolume}}</dd>

                                        <dt>Reported Date</dt>
                                        <dd>{{::data.currentSendout.reportedDate}}</dd>

                                        <dt>Comments</dt>
                                        <dd>
                                            <div class="text-truncate-200px">{{::data. currentSendout.comments ? currentSendout.comments : "-"}}</div>
                                        </dd>
                                        
                                        <dd>
                                            <button type="input" class="btn btn-xs btn-success btn-outline">Upload Analysis Files</button>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="header-info-box biopsy-sample-box">
                                    <h4>Analysis</h4>
                                    <dl class="dl-horizontal">
                                        <dt>Analysis ID</dt>
                                        <dd>{{::data.currentSendout.currentAnalisys.analysis_id}}</dd>

                                        <dt>Status</dt>
                                        <dd ng-style="{'color':'{{ currentSendout.currentAnalisys.status | analysisStatus }}'}">{{::data.currentSendout.currentAnalisys.status}}</dd>

                                        <dt>File Received Date</dt>
                                        <dd>{{::data.currentSendout.currentAnalisys.fileReceivedDate}}</dd>

                                        <dt>{{::data.currentSendout.currentAnalisys.confirmedRejectedDateLabel}}</dt>
                                        <dd>{{::data.currentSendout.currentAnalisys.confirmedRejectedDate}}</dd>

                                        <dt>Files</dt>
                                        <dd>
                                            <a href="#" class="btn btn-xs btn-white file-button-xs">DNA BAM</a>
                                            <a href="#" class="btn btn-xs btn-white file-button-xs">DNA BAI</a>
                                            <a href="#" class="btn btn-xs btn-white file-button-xs">VCF</a>
                                        </dd>
                                        <dd>
                                            <a href="#" class="btn btn-xs btn-white file-button-xs">RNA BAI</a>
                                            <a href="#" class="btn btn-xs btn-white file-button-xs">RNA BAM</a>
                                            <a href="#" class="btn btn-xs btn-white file-button-xs">All (Zip)</a>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>

                        <div class="ibox collapsed">
                            <div class="ibox-title ibox-title-no-line">
                                <div collapse-toggle-left></div>
                                <h3>Analysis History</h3>
                            </div>
                            <div class="ibox-content ibox-content-no-padding ibox-title-no-line">
                                <table class="table table-hover" role="grid">
                                    <thead>
                                        <tr>
                                            <th width="20%">Molecular Sequence Number</th>
                                            <th width="15%">Site</th>
                                            <th width="10%">Tracking Number</th>
                                            <th width="5%">DNA Conc</th>
                                            <th width="5%">DNA Vol</th>
                                            <th width="15%">Reported Date</th>
                                            <th width="20%">Comments</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat-start="sendout in sendouts" style="cursor: auto;" role="row" class="odd">
                                            <td>{{::data.sendout.msn}}</td>
                                            <td>{{::data.sendout.destinationDate}}</td>
                                            <td>{{::data.sendout.trackingNumber}}</td>
                                            <td>{{::data.sendout.dnaConcordance}}</td>
                                            <td>{{::data.sendout.dnaVolume}}</td>
                                            <td>{{::data.sendout.reportedDate}}</td>
                                            <td>
                                                <div class="text-truncate-200px">{{::data.sendout.comments}}</div>
                                            </td>
                                        </tr>
                                        <tr ng-repeat-end>
                                            <td colspan="7">
                                                <ul class="panel-list">
                                                    <li ng-repeat="analysis in sendout.analyses" class="info-element">
                                                        <div class="row">
                                                            <div class="col-md-4 col-sm-6 text-left">
                                                                <dl class="dl-horizontal-narrow">
                                                                    <dt>Analysis ID</dt>
                                                                    <dd><a> {{::data.analysis.analysis_id}} </a></dd>

                                                                    <dt>Status</dt>
                                                                    <dd ng-style="{'color':'{{ analysis.status | analysisStatus }}'}">{{::data.analysis.status}}</dd>
                                                                </dl>
                                                            </div>
                                                            <div class="col-md-4 col-sm-6 text-left">
                                                                <dl class="dl-horizontal-narrow">
                                                                    <dt>File Received Date</dt>
                                                                    <dd>{{::data.analysis.fileReceivedDate}}</dd>

                                                                    <dt>{{::data.analysis.confirmedRejectedDateLabel}}</dt>
                                                                    <dd>{{::data.analysis.confirmedRejectedDate}}</dd>
                                                                </dl>
                                                            </div>
                                                            <div class="col-md-4 text-right">
                                                                <div class="row">
                                                                    <div class="col-md-12 text-right">
                                                                        <a href="#" class="btn btn-xs btn-white file-button-xs">DNA BAM</a>
                                                                        <a href="#" class="btn btn-xs btn-white file-button-xs">DNA BAI</a>
                                                                        <a href="#" class="btn btn-xs btn-white file-button-xs">VCF</a>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-12 text-right">
                                                                        <a href="#" class="btn btn-xs btn-white file-button-xs">RNA BAI</a>
                                                                        <a href="#" class="btn btn-xs btn-white file-button-xs">RNA BAM</a>
                                                                        <a href="#" class="btn btn-xs btn-white file-button-xs">All (Zip)</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </uib-tab>

                <uib-tab heading="Variant Report">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-8 text-left">
                                <div class="btn-group btn-group-margin" data-toggle="buttons">
                                    <label class="btn btn-outline btn-success" ng-class="getVariantReportTypeClass('tumorTissue')" ng-click="setVariantReportType('tumorTissue')"
                                        title="Switch to Tumor Tussue Report">
                                        <input type="radio" name="variantReportType" id="option1">Tumor Tissue
                                    </label>
                                    <label class="btn btn-outline btn-success" ng-class="getVariantReportTypeClass('blood')" ng-click="setVariantReportType('blood')"
                                        title="Switch to Blood Report">
                                        <input type="radio" name="variantReportType" id="option2">Blood
                                    </label>
                                </div>
                                <div class="btn-group btn-group-margin" data-toggle="buttons">
                                    <label class="btn btn-outline btn-success" ng-class="getVariantReportModeClass('Normal')" ng-click="setVariantReportMode('Normal')"
                                        title="Show Normal Report">
                                        <input type="radio" name="variantReportMode" id="option3">Normal
                                    </label>
                                    <label class="btn btn-outline btn-success" ng-class="getVariantReportModeClass('Qc')" ng-click="setVariantReportMode('Qc')"
                                        title="Show to QC Report">
                                        <input type="radio" name="variantReportMode" id="option4">QC Report
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4 text-right">
                                <button class="btn btn-outline btn-success" title="Export Variant Report to PDF"><i class="fa fa-file-pdf-o"></i>&nbsp;&nbsp;PDF</button>
                                <button class="btn btn-outline btn-success" title="Export Variant Report to Excel"><i class="fa fa-file-excel-o"></i>&nbsp;&nbsp;Excel</button>
                            </div>
                        </div>

                        <div class="ibox-title ibox-title-no-line">
                            <h2>
                                <span class="drop-down-label">Variant Report</span>
                                <div dropdown-select="variantReportOptions " dropdown-model="variantReportOption" dropdown-item-label="text">
                                </div>
                            </h2>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="header-info-box  variant-report-header-box">
                                    <dl class="dl-horizontal">
                                        <dt>Biopsy Sequence Number</dt>
                                        <dd>{{::data.variantReport.biopsy_sequence_number}}</dd>

                                        <dt>Analysis ID</dt>
                                        <dd>{{::data.variantReport.analysis_id}}</dd>

                                        <dt>Files</dt>
                                        <dd>
                                            <a href="#" class="btn btn-xs btn-white file-button-xs">DNA BAM</a>
                                            <a href="#" class="btn btn-xs btn-white file-button-xs">DNA BAI</a>
                                            <a href="#" class="btn btn-xs btn-white file-button-xs">VCF</a>
                                        </dd>
                                        <dd>
                                            <a href="#" class="btn btn-xs btn-white file-button-xs">RNA BAI</a>
                                            <a href="#" class="btn btn-xs btn-white file-button-xs">RNA BAM</a>
                                            <a href="#" class="btn btn-xs btn-white file-button-xs">All (Zip)</a>
                                        </dd>

                                        <dt>File Received Date</dt>
                                        <dd>{{::data.variantReport.fileReceivedDate}}</dd>

                                        <dt ng-show="variantReport.confirmedRejectedDate">{{::data.variantReport.confirmedRejectedDateLabel}}</dt>
                                        <dd ng-show="variantReport.confirmedRejectedDate">{{::data.variantReport.confirmedRejectedDate}}</dd>

                                        <dt>Status</dt>
                                        <dd ng-style="{'color':'{{ variantReport.status | analysisStatus }}'}">{{variantReport.status}}</dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="header-info-box variant-report-header-box">

                                    <dl class="dl-horizontal dl-horizontal-expanded-label">
                                        <dt>Total Variants</dt>
                                        <dd>{{::data.variantReport.totalVariants}}</dd>

                                        <dt>Cellularity</dt>
                                        <dd>{{::data.variantReport.cellularity}}</dd>
                                    </dl>

                                    <h4 ng-if="variantReportMode!=='Qc'">MOI/aMOI Summary</h4>

                                    <dl class="dl-horizontal dl-horizontal-expanded-label" ng-if="variantReportMode!=='Qc'">
                                        <dt ng-repeat-start="summary in biopsy.moiSummary">{{::data.summary.title}}</dt>
                                        <dd ng-repeat-end>{{::data.summary.count}}</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>

                        <img src="/img/variant_report.png" style="width:1200px" />

                        <!--Single Nucleitide Variant(s)-->
                        <div class="ibox-title ibox-title-no-line">
                            <h3>Single Nucleitide Variant(s)</h3>
                        </div>

                        <table class="table table-hover" role="grid">
                            <thead>
                                <tr>
                                    <th ng-if="variantReportMode!=='Qc'">Confirm</th>
                                    <th ng-if="variantReportMode!=='Qc'">Comment</th>
                                    <th>ID</th>
                                    <th ng-if="variantReportMode!=='Qc'">aMOI</th>
                                    <th>Chrom</th>
                                    <th>Position</th>
                                    <th>Reference</th>
                                    <th>Alternative</th>
                                    <th>Allele Freq</th>
                                    <th>Func Gene</th>
                                    <th>Oncomine Variant Class</th>
                                    <th>Exon</th>
                                    <th>Function</th>
                                    <th>HGVS</th>
                                    <th>Read Depth</th>
                                    <th>Transcript</th>
                                    <th>Protein</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="variant in biopsy.singleNucleitideVariants" style="cursor: auto;" role="row" class="odd">
                                    <td ng-if="variantReportMode!=='Qc'">
                                        <div check-box-with-confirm confirm-title="{{confirmTitle}}" confirm-message="{{confirmMessage}}" is-checked="variant.confirm"
                                            on-comment-entered="setComment(variant)" prompt-only-if="true">
                                        </div>
                                    </td>
                                    <td ng-if="variantReportMode!=='Qc'">
                                        <a href ng-click="editComment(variant)"> <i ng-if="variant.comment" class="fa fa-file-text-o"></i></a>
                                    </td>
                                    <td>{{::data.variant.id}}</td>
                                    <td ng-if="variantReportMode!=='Qc'">{{::data.variant.aMOI}}</td>
                                    <td>{{::data.variant.chrom}}</td>
                                    <td>{{::data.variant.position}}</td>
                                    <td>{{::data.variant.reference}}</td>
                                    <td>{{::data.variant.alternative}}</td>
                                    <td>{{::data.variant.alleleFreq}}</td>
                                    <td>{{::data.variant.funcGene}}</td>
                                    <td>{{::data.variant.oncomineVariantClass}}</td>
                                    <td>{{::data.variant.exon}}</td>
                                    <td>{{::data.variant.funct}}</td>
                                    <td>{{::data.variant.hGVS}}</td>
                                    <td>{{::data.variant.readDepth}}</td>
                                    <td>{{::data.variant.transcript}}</td>
                                    <td>{{::data.variant.protein}}</td>
                                </tr>

                                <tr ng-if="!biopsy.singleNucleitideVariants || !biopsy.singleNucleitideVariants.length">
                                    <td colspan="8"><span class="text-muted">No Single Nucleitide Variants</span></td>
                                </tr>
                            </tbody>
                        </table>

                        <!--Indels-->
                        <div class="ibox-title ibox-title-no-line">
                            <h3>Indel(s)</h3>
                        </div>

                        <table class="table table-hover" role="grid">
                            <thead>
                                <tr>
                                    <th ng-if="variantReportMode!=='Qc'">Confirm</th>
                                    <th ng-if="variantReportMode!=='Qc'">Comment</th>
                                    <th>ID</th>
                                    <th ng-if="variantReportMode!=='Qc'">aMOI</th>
                                    <th>Chrom</th>
                                    <th>Position</th>
                                    <th>Reference</th>
                                    <th>Alternative</th>
                                    <th>Allele Freq</th>
                                    <th>Func Gene</th>
                                    <th>Oncomine Variant Class</th>
                                    <th>Exon</th>
                                    <th>Function</th>
                                    <th>HGVS</th>
                                    <th>Read Depth</th>
                                    <th>Transcript</th>
                                    <th>Protein</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="variant in biopsy.indels" style="cursor: auto;" role="row" class="odd">
                                    <td ng-if="variantReportMode!=='Qc'">
                                        <div check-box-with-confirm confirm-title="{{confirmTitle}}" confirm-message="{{confirmMessage}}" is-checked="variant.confirm"
                                            on-comment-entered="setComment()" prompt-only-if="true">
                                        </div>
                                    </td>
                                    <td ng-if="variantReportMode!=='Qc'">
                                        <a href ng-click="editComment(variant)"> <i ng-if="variant.comment" class="fa fa-file-text-o"></i></a>
                                    </td>
                                    <td>{{::data.variant.id}}</td>
                                    <td ng-if="variantReportMode!=='Qc'">{{::data.variant.aMOI}}</td>
                                    <td>{{::data.variant.chrom}}</td>
                                    <td>{{::data.variant.position}}</td>
                                    <td>{{::data.variant.reference}}</td>
                                    <td>{{::data.variant.alternative}}</td>
                                    <td>{{::data.variant.alleleFreq}}</td>
                                    <td>{{::data.variant.funcGene}}</td>
                                    <td>{{::data.variant.oncomineVariantClass}}</td>
                                    <td>{{::data.variant.exon}}</td>
                                    <td>{{::data.variant.funct}}</td>
                                    <td>{{::data.variant.hGVS}}</td>
                                    <td>{{::data.variant.readDepth}}</td>
                                    <td>{{::data.variant.transcript}}</td>
                                    <td>{{::data.variant.protein}}</td>
                                </tr>

                                <tr ng-if="!biopsy.indels || !biopsy.indels.length">
                                    <td colspan="8"><span class="text-muted">No Indels</span></td>
                                </tr>
                            </tbody>
                        </table>

                        <!--Copy Number Variant(s)-->
                        <div class="ibox-title ibox-title-no-line">
                            <h3>Copy Number Variant(s)</h3>
                        </div>

                        <table class="table table-hover" role="grid">
                            <thead>
                                <tr>
                                    <th ng-if="variantReportMode!=='Qc'">Confirm</th>
                                    <th ng-if="variantReportMode!=='Qc'">Comment</th>
                                    <th>ID</th>
                                    <th ng-if="variantReportMode!=='Qc'">aMOI</th>
                                    <th>Chrom</th>
                                    <th>Raw CN</th>
                                    <th>CN</th>
                                    <th>CI 5%</th>
                                    <th>CI 95%</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="variant in biopsy.copyNumberVariants" style="cursor: auto;" role="row" class="odd">
                                    <td ng-if="variantReportMode!=='Qc'">
                                        <div check-box-with-confirm confirm-title="{{confirmTitle}}" confirm-message="{{confirmMessage}}" is-checked="variant.confirm"
                                            on-comment-entered="setComment()" prompt-only-if="true">
                                        </div>
                                    </td>
                                    <td ng-if="variantReportMode!=='Qc'">
                                        <a href ng-click="editComment(variant)"> <i ng-if="variant.comment" class="fa fa-file-text-o"></i></a>
                                    </td>
                                    <td>{{::data.variant.id}}</td>
                                    <td ng-if="variantReportMode!=='Qc'">{{::data.variant.aMOI}}</td>
                                    <td>{{::data.variant.chrom}}</td>
                                    <td>{{::data.variant.rawCN}}</td>
                                    <td>{{::data.variant.cn}}</td>
                                    <td>{{::data.variant.ci5percent}}</td>
                                    <td>{{::data.variant.ci95percent}}</td>
                                </tr>

                                <tr ng-if="!biopsy.copyNumberVariants || !biopsy.copyNumberVariants.length">
                                    <td colspan="8"><span class="text-muted">No Copy Number Variants</span></td>
                                </tr>
                            </tbody>
                        </table>

                        <!--Gene Fusion(s)-->
                        <div class="ibox-title ibox-title-no-line">
                            <h3>Gene Fusion(s)</h3>
                        </div>

                        <table class="table table-hover" role="grid">
                            <thead>
                                <tr>
                                    <th ng-if="variantReportMode!=='Qc'">Confirm</th>
                                    <th ng-if="variantReportMode!=='Qc'">Comment</th>
                                    <th>ID</th>
                                    <th ng-if="variantReportMode!=='Qc'">aMOI</th>
                                    <th>Gene 2</th>
                                    <th>Gene 2 Count</th>
                                    <th>Gene 1</th>
                                    <th>Gene 1 Count</th>
                                    <th>Annotation</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="variant in biopsy.geneFusions" style="cursor: auto;" role="row" class="odd">
                                    <td ng-if="variantReportMode!=='Qc'">
                                        <div check-box-with-confirm confirm-title="{{confirmTitle}}" confirm-message="{{confirmMessage}}" is-checked="variant.confirm"
                                            on-comment-entered="setComment()" prompt-only-if="true">
                                        </div>
                                    </td>
                                    <td ng-if="variantReportMode!=='Qc'">
                                        <a href ng-click="editComment(variant)"> <i ng-if="variant.comment" class="fa fa-file-text-o"></i></a>
                                    </td>
                                    <td>{{::data.variant.id}}</td>
                                    <td ng-if="variantReportMode!=='Qc'">{{::data.variant.aMOI}}</td>
                                    <td>{{::data.variant.gene2}}</td>
                                    <td>{{::data.variant.gene2count}}</td>
                                    <td>{{::data.variant.gene1}}</td>
                                    <td>{{::data.variant.gene1count}}</td>
                                    <td>{{::data.variant.annotation}}</td>
                                </tr>

                                <tr ng-if="!biopsy.geneFusions || !biopsy.geneFusions.length">
                                    <td colspan="8"><span class="text-muted">No Gene Fusions</span></td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="ibox-content ibox-title-no-line" ng-if="variantReport.showActions">
                            <div class="row">
                                <div class="col-md-6 text-right">
                                    <button class="btn btn-danger" title="Reject this Report" ng-click="rejectVariantReport()">REJECT</button>
                                </div>
                                <div class="col-md-6 text-left">
                                    <button class="btn btn-success" title="Confirm this Report" ng-click="confirmVariantReport()">CONFIRM</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </uib-tab>

                <uib-tab heading="Assignment Report">
                    <div class="panel-body" ng-switch="variantReport.status">

                        <div ng-switch-when="CONFIRMED">
                            <div class="row button-row">
                                <div class="col-md-12 text-right">
                                    <button class="btn btn-success btn-outline" title="Export Assignment Report to PDF"><i class="fa fa-file-pdf-o"></i>&nbsp;&nbsp;PDF</button>
                                    <button class="btn btn-success btn-outline" title="Export Assignment Report to Excel"><i class="fa fa-file-excel-o"></i>&nbsp;&nbsp;Excel</button>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="header-info-box assignment-header-box">
                                        <dl class="dl-horizontal">
                                            <dt>Biopsy Sequence Number</dt>
                                            <dd>{{::data.assignment_report.biopsy_sequence_number}}</dd>

                                            <dt>Molecular Sequence Number</dt>
                                            <dd><a>{{::data.assignment_report.molecular_sequence_number}}</a></dd>

                                            <dt>Analysis ID</dt>
                                            <dd><a>{{::data.assignment_report.analysis_id}}</a></dd>

                                            <dt>Variant Report aMOI(s)</dt>
                                            <dd><a ng-repeat="amoi in data.assignment_report.variant_report_amois">{{amoi.title}}{{$last ? '' : ', '}}</a></dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="header-info-box assignment-header-box">
                                        <h4>Assignment</h4>
                                        <dl class="dl-horizontal">
                                            <dt>Generated date</dt>
                                            <dd>{{::data.assignment_report.generated_date}}</dd>

                                            <dt>Confirmed date</dt>
                                            <dd>{{::data.assignment_report.confirmed_date}}</dd>

                                            <dt>Sent to COG date</dt>
                                            <dd>{{::data.assignment_report.sent_to_cog_date}}</dd>

                                            <dt>Received from COG date</dt>
                                            <dd>{{::data.assignment_report.received_from_cog_date}}</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>

                            <div class="ibox-title ibox-title-no-line">
                                <h3>Assay</h3>
                            </div>

                            <table class="table table-hover" role="grid">
                                <thead>
                                    <tr>
                                        <th width="20%">IHC</th>
                                        <th width="40%">Result</th>
                                        <th width="40%">Comment</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="assay in data.assignment_report.assays" style="cursor: auto; " role="row" class="odd">
                                        <td>{{::assay.gene}}</td>
                                        <td><span ng-style="{'color':'{{ assay.result | assayStatus }}'}">{{::assay.result}}</span></td>
                                        <td>{{::assay.comment}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="ibox-title ibox-title-no-line">
                                <h3>Non Hot Spot Rule(s)</h3>
                            </div>

                            <table class="table table-hover" role="grid">
                                <thead>
                                    <tr>
                                        <th width="20%">Treatment Arm</th>
                                        <th width="80%">Reason</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="table-subheader ">
                                        <td colspan="8 ">
                                            <h5>1 - NO VARIANT MATCH</h5>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="ta in data.assignment_report.treatmentArms.noMatchList " style="cursor: auto; " role="row" class="odd">
                                        <td class="status-blue">
                                            <a ui-sref="treatment-arm({ treatmentArmId: ta.treatmentArm, treatmentArmVersion: ta.currentTtreatmentArmVersion }) ">
                                                <i class="fa fa-medkit "></i> {{ ::data.ta.treatmentArmTitle || '-' }}
                                            </a>
                                        </td>
                                        <td>{{::data.ta.reason}}</td>
                                    </tr>

                                    <tr class="table-subheader ">
                                        <td colspan="8 ">
                                            <h5>2 - RECORD BASED EXCLUSION</h5>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="ta in data.assignment_report.treatmentArms.recordBasedExclusionList " style="cursor: auto;
                                                " role="row " class="odd ">
                                        <td class="status-blue ">
                                            <a ui-sref="treatment-arm({ treatmentArmId: ta.treatmentArm, treatmentArmVersion:
                                                ta.treatmentArmVersion }) ">
                                                <i class="fa fa-medkit "></i> {{ ::data.ta.treatmentArmTitle || '-' }}
                                            </a>
                                        </td>
                                        <td>{{::data.ta.reason}}</td>
                                    </tr>

                                    <tr class="table-subheader ">
                                        <td colspan="8 ">
                                            <h5>3 - SELECTED</h5>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="ta in data.assignment_report.treatmentArms.selectedList " style="cursor: auto; " role="row" class="odd">
                                        <td class="status-blue ">
                                            <a ui-sref="treatment-arm({ treatmentArmId: ta.treatmentArm, treatmentArmVersion: ta.currentTtreatmentArmVersion }) ">
                                                <i class="fa fa-medkit "></i> {{ ::data.ta.treatmentArmTitle || '-' }}
                                            </a>
                                        </td>
                                        <td>{{::data.ta.reason}}</td>
                                    </tr>
                                </tbody>
                            </table>


                            <div class="ibox-content ibox-title-no-line">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <button class="btn btn-success" title="Confirm this Report" ng-click="showConfirmation('Pleas confirm Assignment Variant Report approval', 'Enter comments')">CONFIRM</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-switch-default>
                            <div class="row">
                                <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <i class="fa fa-info-circle"></i>Assignment Report Not Available
                                        </div>
                                        <div class="panel-body">
                                            <p>The Variant Report is not yet Approved.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>

                <uib-tab heading="Documents">
                    <div class="panel-body ">

                        <div class="ibox float-e-margins">
                            <div class="ibox-title ibox-title-no-line">
                                <h3>Patient Documents</h3>
                            </div>

                            <table class="table table-hover" role="grid">
                                <thead>
                                    <tr>
                                        <th width="20%" class="label2 sorting_disabled">Document</th>
                                        <th width="40%" class="label2 sorting_disabled">Uploaded Date</th>
                                        <th width="20%" class="label2 sorting_disabled">User</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="document in data.documents.list" style="cursor: auto;" role="row" class="odd">
                                        <td><a href>{{::document.name}}</a></td>
                                        <td>{{::document.uploaded_date}}</td>
                                        <td>{{::document.user}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <form class="dropzone" method="post" enctype="multipart/form-data" ng-dropzone dropzone="dropzone" dropzone-config="dropzoneConfig"
                            event-handlers="{ 'addedfile': dzAddedFile, 'error': dzError }">
                        </form>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>