<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Patient</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="index.dashboard">Dashboard</a>
            </li>
            <li class="active">
                <a ui-sref="index.patients">Patients</a>
            </li>
            <li class="active">
                <strong>Patient</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content p-xl">
    <div class="animated fadeInRight">
        <div class="row">
            !!! UNDER CONSTRUCTION !!!
        </div>
    </div>
</div>