<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Specimen Tracking</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="dashboard">Dashboard</a>
            </li>
            <li class="active">
                <strong>Specimen Tracking</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="wrapper" ng-controller="SpecimenTrackingController as SpecimenTrackingCtrl" ng-init="loadSpecimenTrackingList()">
    <div class="animated fadeInRight no-horizontal-padding header-box-container">
        <div vertilize-container class="row">
            <div vertilize class="col-lg-6">
                <div class="header-info-box">
                    <h3>Shipping Locations</h3>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="widget navy-bg text-center">
                                <div class="m-b-md">
                                    <i class="fa fa-building-o fa-4x"></i>
                                    <h1 class="m-xs">{{sites.mda.count}}</h1>
                                    <h3 class="font-bold no-margins">
                                        {{sites.mda.percent}}%
                                    </h3>
                                    <small>
                                            <a ui-sref="clia-labs" ng-click="clialab('mdacc')" style="color: white">MDA</a>
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="widget blue-bg text-center">
                                <div class="m-b-md">
                                    <i class="fa fa-building-o fa-4x"></i>
                                    <h1 class="m-xs">{{sites.mocha.count}}</h1>
                                    <h3 class="font-bold no-margins">
                                        {{sites.mocha.percent}}%
                                    </h3>
                                    <small>
                                        <a ui-sref="clia-labs" ng-click="clialab('mocha')" style="color: white">MoCha</a>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div vertilize class="col-lg-6">
                <div class="header-info-box">
                    <div style="float:left">
                        <div id="legendContainer" style="text-align:left;overflow-y:auto"></div>
                    </div>
                    <div id="patientPieChartContainer" class="flot-chart" style="height:200px;padding:20px 0px 10px 70px">
                        <flot id="patientPieChart" dataset="pieDataset" options="pieOptions" height="100%"></flot>
                    </div>
                </div>
            </div>-->
            <div vertilize class="col-lg-6">
                <div class="header-info-box">
                        <h3>Trend Analysis</h3>
                    <div>
                        <div class="flot-chart">
                            <flot class="flot-chart-content" dataset="chartData" options="lineOptions"></flot>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ibox-content outer-container">
            <div class="ibox-title ibox-title-no-line-no-padding">
                <h3>Shipments</h3>
            </div>

            <table datatable="ng" dt-options="SpecimenTrackingCtrl.ddOptions" dt-column-defs="SpecimenTrackingCtrl.dtColumnDefs" dt-instance="SpecimenTrackingCtrl.dtInstance"
                class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Molecular ID</th>
                        <th>Surgical Event ID</th>
                        <th>Patient ID</th>
                        <th>Collected Date</th>
                        <th>Received Date</th>
                        <th>Type</th>
                        <th>Shipped Date</th>
                        <th>Site</th>
                        <th>Fedex Tracking</th>
                        <th>Pathology Status</th>
                        <th>Pathology Status Date</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="specimenTrackingItem in specimenTrackingList">
                        <!-- ng-repeat -->
                        <td><a ui-sref="patient({ patient_id: specimenTrackingItem.patient_id, section: 'tissue_variant_report', molecular_id: specimenTrackingItem.molecular_id, analysis_id: specimenTrackingItem.analysis_id })">{{ specimenTrackingItem.molecular_id | dashify }}</a></td>
                        <td><a ui-sref="patient({ patient_id: specimenTrackingItem.patient_id, section: 'surgical_event', surgical_event_id: specimenTrackingItem.surgical_event_id })">{{ specimenTrackingItem.surgical_event_id | dashify }}</a></td>
                        <td><a ui-sref="patient({ patient_id: specimenTrackingItem.patient_id })">{{ specimenTrackingItem.patient_id}}</a></td>
                        <td>{{ specimenTrackingItem.collected_date | utc | dashify }}</td>
                        <td>{{ specimenTrackingItem.received_date | utc }}</td>
                        <td>{{ specimenTrackingItem.type }}</td>
                        <td>{{ specimenTrackingItem.shipped_date | utc }}</td>
                        <td ng-if="specimenTrackingItem.site === 'MoCha'">
                            <a ui-sref="clia-labs" ng-click="clialab('mocha')">{{ specimenTrackingItem.site | dashify }}</a>
                        </td>
                        <td ng-if="specimenTrackingItem.site === 'MDA'">
                            <a ui-sref="clia-labs" ng-click="clialab('mdacc')">{{ specimenTrackingItem.site | dashify }}</a>
                        </td>
                        <td>
                            <tracking-link carrier="'fedex'" tracking-number="specimenTrackingItem.fedex_tracking"></tracking-link>
                        </td>
                        <td>{{ specimenTrackingItem.pathology_status }}</td>
                        <td>{{ specimenTrackingItem.pathology_status_date | utc }}</td>
                    </tr>
                    <tr ng-repeat-end>

                        <td class="no-padding" ng-if="specimenTrackingItem.assays.length > 0" colspan="11">

                            <div class="ibox no-padding">
                                <div class="ibox-title no-padding">
                                    <div collapse-toggle-left-closed></div>
                                </div>
                                <div class="ibox-content ibox-content-no-padding ibox-title-no-line">
                                    <ul class="panel-list">
                                        <li ng-repeat="assayItem in specimenTrackingItem.assays" class="info-element">
                                            <div class="row">
                                                <div class="col-md-2 col-sm-6 text-left">
                                                    <dl class="dl-horizontal-narrow">
                                                        <dt>IHC</dt>
                                                        <dd ng-style="{'color':'{{ analysis.status | analysisStatus }}'}">{{::assayItem.ihc}}</dd>
                                                    </dl>
                                                </div>
                                                <div class="col-md-3 col-sm-6 text-left">
                                                    <dl class="dl-horizontal-narrow">
                                                        <dt>Assay Order Date</dt>
                                                        <dd>{{assayItem.assay_order_date | utc}}</dd>

                                                    </dl>
                                                </div>
                                                <div class="col-md-3 col-sm-6 text-left">
                                                    <dl class="dl-horizontal-narrow">
                                                        <dt>Assay Result Date</dt>
                                                        <dd>{{assayItem.assay_result_date | utc}}</dd>

                                                    </dl>
                                                </div>
                                                <div class="col-md-3 col-sm-6 text-left">
                                                    <dl class="dl-horizontal-narrow">
                                                        <dt>Result</dt>
                                                        <dd><span ng-style="{'color':'{{ assayItem.result_information | assayStatus }}'}">{{assayItem.result_information}}</span></dd>
                                                    </dl>
                                                </div>

                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>