<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Treatment Arms</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="dashboard">Dashboard</a>
            </li>
            <li class="active">
                <strong>Treatment Arms</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper push-up-inner-panel" ng-controller="TreatmentArmsController" ng-init="loadTreatmentArmList()">
    <div class="ibox-content grid-container animated fadeInRight">
        <div id="treatmentArmGrid" grid-data grid-options="gridOptions" grid-actions="gridActions" class="data-grid">
            <div class="row">
                <div class="col pull-left">
                    <form class="form-inline">
                        <div class="form-group">
                            <div class="items-per-page">
                                <label for="itemsOnPageSelect2">Show</label>
                                <select id="itemsOnPageSelect2"
                                        class="form-control input-sm"
                                        ng-init="paginationOptions.itemsPerPage = '10'"
                                        ng-model="paginationOptions.itemsPerPage"
                                        ng-change="reloadGrid()">
                                    <option>10</option>
                                    <option>25</option>
                                    <option>50</option>
                                    <option>100</option>
                                </select>
                                <label for="itemsOnPageSelect2">per page</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col pull-right">
                    <div class="grid-filter">
                        <input type="text"
                               class="form-control input-sm order-search-box"
                               placeholder="Filter by all columns"
                               grid-id="treatmentArmGrid"
                               ng-change="gridActions.filter()"
                               ng-model="filterAll"
                               filter-by="filterAll"
                               filter-type="text">
                    </div>
                </div>
            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th sortable="treatment_arm_name" class="sortable">Name</th>
                    <th sortable="current_patients" class="sortable">Current Patients</th>
                    <th sortable="former_patients" class="sortable">Former Patients</th>
                    <th sortable="not_enrolled_patients" class="sortable">Not Enrolled Patients</th>
                    <th sortable="pending_arm_approval" class="sortable">Pending Arm Approval</th>
                    <th sortable="status" class="sortable">Status</th>
                    <th sortable="date_opened" class="sortable">Date Opened</th>
                    <th sortable="date_closed" class="sortable">Date Suspended/Closed</th>
                </tr>
                </thead>
                <tbody>
                    <tr grid-item>
                        <td>
                            <a ui-sref="treatment-arm({ name: item.name, stratum: item.stratum_id })">
                                <i class="fa fa-medkit"></i> <span ng-bind="item.name | dashify"></span> (<span ng-bind="item.stratum_id | dashify"></span>)
                            </a>
                        </td>
                        <td ng-bind="item.current_patients | floor"></td>
                        <td ng-bind="item.former_patients | floor"></td>
                        <td ng-bind="item.not_enrolled_patients | floor"></td>
                        <td ng-bind="item.pending_patients | floor"></td>
                        <td ng-bind="item.treatment_arm_status | dashify"></td>
                        <td ng-bind="item.date_opened | dashify"></td>
                        <td ng-bind="item.date_closed | dashify"></td>
                    </tr>

                    <tr ng-if="!gridOptions.data || !gridOptions.data.length" class="no-data-message">
                        <td colspan="8" class="text-muted">No treatment arms.</td>
                    </tr>
                </tbody>
            </table>

            <form class="form-inline pull-left">
                <div class="form-group">
                    <grid-pagination max-size="5" class="pagination-sm" total-items="paginationOptions.totalItems" ng-model="paginationOptions.currentPage"
                                     ng-change="reloadGrid()" items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
                </div>
            </form>
        </div>
    </div>
</div>