<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Treatment Arms</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="index.dashboard">Dashboard</a>
            </li>
            <li class="active">
                <strong>Treatment Arms</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content p-xl">
    <div class="animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-3 pull-right">
                                <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
                            </div>
                        </div>
                        <div class="table-responsive" ng-controller="TreatmentArmsController" data-ng-init="loadTreatmentArmList()">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name </th>
                                    <th>Current Patients </th>
                                    <th>Former Patients </th>
                                    <th>Not Enrolled Patients </th>
                                    <th>Pending Arm Approval </th>
                                    <th>Status </th>
                                    <th>Date Created</th>
                                    <th>Date Open</th>
                                    <th>Date Suspended/Closed</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="treatmentArm in treatmentArmList">
                                    <td>{{ treatmentArm.treatmentArmId }}</td>
                                    <td>{{ treatmentArm.treatmentArmName }}</td>
                                    <td>{{ treatmentArm.currentPatients }}</td>
                                    <td>{{ treatmentArm.formerPatients }}</td>
                                    <td>{{ treatmentArm.notEnrolledPatients }}</td>
                                    <td>{{ treatmentArm.pendingPatients }}</td>
                                    <td>{{ treatmentArm.treatmentArmStatus }}</td>
                                    <td>{{ treatmentArm.dateCreated | gmt }}</td>
                                    <td>{{ treatmentArm.dateOpened | gmt }}</td>
                                    <td>{{ (treatmentArm.dateClosed || treatmentArm.dateSuspended) | gmt }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>