<!-- Wrapper-->
<div id="wrapper">

    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg {{$state.current.name}}" ng-controller="activeCtrl">

        <!-- Page wrapper -->
        <!--<div ng-include="'views/common/topnavbar.html'"></div>-->
        <div ng-include="'views/common/navbar.html'"></div>

        <div>
            <div ng-switch on="pFilter">
                <div  ng-switch-default>
                    <div ng-include="'views/common/dashboard.html'"></div>
                    <!--<div ng-include="'views/common/tabs_panels.html'"></div>-->
                </div>
                <div  ng-switch-when="dashboard">
                    <div ng-include="'views/common/dashboard.html'"></div>
                </div>
                <div  ng-switch-when="patients">
                    <div ng-include="'views/common/patients.html'"></div>
                </div>
                <div  ng-switch-when="treatmentarm">
                    <div ng-include="'views/common/treatmentarm.html'"></div>
                </div>
                <div  ng-switch-when="biopsy">
                    <div ng-include="'views/common/biopsysequence.html'"></div>
                </div>
                <div  ng-switch-when="molecular">
                    <div ng-include="'views/common/molecularsequence.html'"></div>
                </div>
                <div  ng-switch-when="report">
                    <div ng-include="'views/common/ncireport.html'"></div>
                </div>



            </div>
        </div>

        <!-- Main view  -->
        <div ui-view>  </div>

        <!-- Footer -->
        <div ng-include="'views/common/footer.html'"></div>

    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->