
<div class="wrapper">

    <div class="container">
    <div class="row">

        <div class="col-lg-3 col-md-3" style="margin: 15px 0 0 0">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-users fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div id="numActivePatients" class="huge">0</div>
                            <div>Patients</div>
                        </div>
                    </div>
                </div>
                <a href="" ng-click="activateLink('patients')">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-3" style="margin: 15px 0 0 0">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-medkit fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div id="numTreatmentArms" class="huge">0</div>
                            <div>Treatment Arms</div>
                        </div>
                    </div>
                </div>
                <!-- <a href="sb-admin-2/treatmentArms.html"> -->
                <a href="" ng-click="activateLink('treatmentarm')">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-3" style="margin: 15px 0 0 0">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div id="numMolecularSequnces" class="huge">0</div>
                            <div>Biopsy Sequence</div>
                        </div>
                    </div>
                </div>
                <!-- <a href="sb-admin-2/treatmentArms.html"> -->
                <a href="" ng-click="activateLink('biopsy')">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-3" style="margin: 15px 0 0 0">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-share-alt fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div id="numBiopsySequnces" class="huge">0</div>
                            <div>Molecular Sequence</div>
                        </div>
                    </div>
                </div>
                <!-- <a href="sb-admin-2/treatmentArms.html"> -->
                <a href="" ng-click="activateLink('molecular')">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <!--<div class="col-lg-3 col-md-3" style="margin: 15px 0 0 0">-->
            <!--<div class="panel panel-danger">-->
                <!--<div class="panel-heading">-->
                    <!--<div class="row">-->
                        <!--<div class="col-xs-3">-->
                            <!--<i class="fa fa-share-alt fa-3x"></i>-->
                        <!--</div>-->
                        <!--<div class="col-xs-9 text-right">-->
                            <!--<div id="numMolecularSequnces" class="huge">0</div>-->
                            <!--<div>Molecular Sequences</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; <a href="sb-admin-2/treatmentArms.html"> &ndash;&gt;-->
                <!--<a href="views/molecularsequence.html">-->
                    <!--<div class="panel-footer">-->
                        <!--<span class="pull-left">View Details</span>-->
                        <!--<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>-->
                        <!--<div class="clearfix"></div>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->

     </div>
     </div>
</div>

