
<div class="wrapper">

    <div class="container">
    <div class="row">


        <div class="col-xs-3">
            <div class="col-lg-3">
                <div class="widget style1 blue-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-users fa-5x"></i>
                        </div>
                        <div class="col-xs-10 text-right">
                            <span> Patients </span>
                            <h2 class="font-bold">26'C</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-3">
            <div class="col-lg-3">
                <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-medkit fa-5x"></i>
                        </div>
                        <div class="col-xs-10 text-right">
                            <span> Treatment Arms </span>
                            <h2 class="font-bold">26'C</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-3">
            <div class="col-lg-3">
                <div class="widget style1 yellow-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-music fa-5x"></i>
                        </div>
                        <div class="col-xs-10 text-right">
                            <span> New albums </span>
                            <h2 class="font-bold">12</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-3">
            <div class="col-lg-3">
                <div class="widget style1 red-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-music fa-5x"></i>
                        </div>
                        <div class="col-xs-10 text-right">
                            <span> New albums </span>
                            <h2 class="font-bold">12</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

     </div>
     </div>

</div>


<!--<div class="row">-->

    <!--<div class="col-lg-3">-->
        <!--<div class="widget style1 navy-bg">-->
            <!--<div class="row">-->
                <!--<div class="col-xs-4">-->
                    <!--<i class="fa fa-cloud fa-5x"></i>-->
                <!--</div>-->
                <!--<div class="col-xs-8 text-right">-->
                    <!--<span> Today degrees </span>-->
                    <!--<h2 class="font-bold">26'C</h2>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->


    <!--<div class="col-lg-3">-->
        <!--<div class="widget style1 lazur-bg">-->
            <!--<div class="row">-->
                <!--<div class="col-xs-4">-->
                    <!--<i class="fa fa-envelope-o fa-5x"></i>-->
                <!--</div>-->
                <!--<div class="col-xs-8 text-right">-->
                    <!--<span> New messages </span>-->
                    <!--<h2 class="font-bold">260</h2>-->
                <!--</div>-->
                <!--<div class="text-center">-->

                    <!--<a aria-expanded="false" class="btn btn-xs btn-primary"-->
                       <!--role="button" href="views/common/reportboard1.html">-->
                        <!--<i class="fa fa-heart"></i>-->
                        <!--Back to main Layout page</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-3">-->
        <!--<div class="widget style1 yellow-bg">-->
            <!--<div class="row">-->
                <!--<div class="col-xs-4">-->
                    <!--<i class="fa fa-music fa-5x"></i>-->
                <!--</div>-->
                <!--<div class="col-xs-8 text-right">-->
                    <!--<span> New albums </span>-->
                    <!--<h2 class="font-bold">12</h2>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="row">-->
    <!--<div class="col-md-6">-->
        <!--<div class="ibox-content text-center">-->
            <!--<h1>Nicki Smith</h1>-->
            <!--<div class="m-b-sm">-->
                <!--<img alt="image" class="img-circle" src="img/a8.jpg">-->
            <!--</div>-->
            <!--<p class="font-bold">Consectetur adipisicing</p>-->

            <!--<div class="text-center">-->
                <!--<a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>-->
                <!--<a class="btn btn-xs btn-primary"><i class="fa fa-heart"></i> Love</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--</div>-->
