
<div class="row border-bottom white-bg">

    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header" ng-controller="navCtrl">

            <!--<div class="collapse navbar-collapse" ng-controller="HeaderController">-->
                <!--<ul class="nav navbar-nav">-->
                    <!--<li ng-class="{ active: isActive('/')}"><a href="/">Home</a></li>-->
                    <!--<li ng-class="{ active: isActive('/dogs')}"><a href="/dogs">Dogs</a></li>-->
                    <!--<li ng-class="{ active: isActive('/cats')}"><a href="/cats">Cats</a></li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div ng-view></div>-->

            <ul class="nav navbar-nav">
                <li ng-class="{ active: isActive('/dashboard')}"><a href="/dashboard"><i class="fa fa-dashboard"></i> dashboard</a></li>
                <li ng-class="{ active: isActive('/patients')}"><a href="/patients"><i class="fa fa-users"></i> Patients</a></li>
                <li ng-class="{ active: isActive('/treatmentarms')}"><a href="/treatmentarms"><i class="fa fa-medkit"></i> Treatment Arms</a></li>
            </ul>


            <!--<ul class="nav navbar-nav" >-->
                <!--<li ng-class="{active: isActive('/dashboard')}">-->
                    <!--<a href="#/dashboard"><i class="fa fa-dashboard"></i> dashboard</a>-->
                <!--</li>-->
                <!--<li ng-class="{active: isActive('/patients')}">-->
                    <!--<a href="#/patients"><i class="fa fa-users"></i> Patients</a>-->
                <!--</li>-->
                <!--<li ng-class="{active: isActive('/treatmentarms')}">-->
                    <!--<a href="#/treatmentarms"><i class="fa fa-medkit"></i> Treatment Arms</a>-->
                <!--</li>-->
                <!--<li ng-class="{active: isActive('/biopsysequence')}">-->
                    <!--<a href="#/biopsysequence"><i class="fa fa-tasks"></i> Biopsy Sequence </a>-->
                <!--</li>-->
                <!--<li ng-class="{active: isActive('/molecularsequence')}">-->
                    <!--<a href="#/molecularsequence"><i class="fa fa-share-alt"></i> Molecular Sequence </a>-->
                <!--</li>-->
            <!--</ul>-->

        </div>
    </nav>

</div>



<!--<body ng-controller="NavCtrl">-->

<!--<div class="row border-bottom white-bg" ng-controller="NavCtrl">-->
    <!--<nav class="navbar navbar-static-top" role="navigation">-->
        <!--<div class="navbar-header">-->

            <!--<li ng-class="menuClass('persons')">-->
                <!--<a href="#!persons">Home</a>-->
            <!--</li>-->

            <!--<button aria-controls="navbar" aria-expanded="false" data-target="#navbar"-->
                    <!--data-toggle="collapse" class="navbar-toggle collapsed" type="button">-->
                <!--<i class="fa fa-reorder"></i>-->
            <!--</button>-->

            <!--<a href="#" class="navbar-brand">NIH</a>-->

            <!--&lt;!&ndash;<a id="link-6" ng-href="{{value}}">NIH</a>&ndash;&gt;-->

        <!--</div>-->

    <!--</nav>-->
<!--</div>-->

