
<div class="row border-bottom white-bg">

    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header" >
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav" >
                    <li >
                        <a href="" ng-click="activateLink('dashboard')">
                            <i class="fa fa-dashboard fa-2x"></i> Dashboard
                        </a>
                    </li>
                    <li >
                        <a href="" ng-click="activateLink('patients')">
                            <i class="fa fa-users fa-2x"></i> Patients
                        </a>
                    </li>
                    <li >
                        <a href="" ng-click="activateLink('treatmentarm')">
                            <i class="fa fa-medkit fa-2x"></i> Treatment Arms
                        </a>
                    </li>
                    <li >
                        <a href="" ng-click="activateLink('biopsy')">
                            <i class="fa fa-tasks fa-2x"></i> Biopsy Sequence
                        </a>
                    </li>
                    <li >
                        <a href="" ng-click="activateLink('molecular')">
                            <i class="fa fa-share-alt fa-2x"></i> Molecular Sequence
                        </a>
                    </li>
                    <li >
                        <a href="" ng-click="activateLink('report')">
                            <i class="fa fa-wrench fa-2x"></i> Report
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>

