<!DOCTYPE html>
<html ng-app="myApp">
<body>
    <div id="wrapper">

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">

                    <div class="ibox-title" >
                        <h5>Generate Report Table </h5>
                    </div>

                    <!--LOAD report links-->
                    <div class="col-sm-4"  >
                        <div ng-controller="loadCtrl" ng-init="generateReportLinks()">
                            <br/>

                                <select ng-model="template"
                                        ng-change="reportSelect({selectedReport: template})"
                                        ng-options="t.name for t in templates">
                                    <option value="">(blank)</option>
                                </select>
                                <h1>Selected report: {{template.key}}</h1>

                                <div ng-show="template.id">
                                    <input type="text" ng-model="rootFolders">
                                    <!--<tt>text = {{template.id}}</tt>-->
                                    </input>
                                </div>

                            <br/>

                            <div class="col-sm-1 pull-left">
                                <div class="input-group" >
                                    <span class="input-group-btn">
                                        <button type="button"
                                                ng-click="selectedReportOfList({reportParameters: selected})"
                                                class="btn btn-lg btn-primary">
                                            Generate
                                        </button>
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="ibox-content">
                        <div class="table-responsive">

                            <table class="table table-striped table-bordered table-hover" id="reports">
                                <thead>
                                <tr>
                                    <th class="label2" width = "33%">Date</th>
                                    <th class="label2" width = "33%">Link</th>
                                    <th class="label2" width = "33%">Format</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>

</html>
